<!-- Offcanvas: Cart -->
<div class="offcanvas offcanvas-end border-0 shadow-lg" tabindex="-1" data-bs-scroll="true" id="offcanvasCart"
    aria-labelledby="offcanvasCartLabel">
    <div class="offcanvas-header bg-light">
        <h6 class="offcanvas-title ps-2 ps-lg-0" id="offcanvasCartLabel">
            سلة المشتريات
        </h6>
        <button type="button" class="btn-none btn-close-rotate p-0" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="iconoir-cancel iconoir-md"></i>
        </button>
    </div>

    <!-- Cart Content -->
    <div class="offcanvas-body p-0">
        <div class="p-3">

            <!-- Scenario 01 -->
            <!-- Cart is Empty -->
            <div class="text-center py-3 border rounded mb-3">
                <i data-feather="shopping-bag" class="feather-3x text-muted"></i>
                <p class="text-muted my-3">سلة المشتريات فارغة</p>

                <a href="#" class="btn btn-primary" title="">
                    تسوق الآن <span class="px-2"><i data-feather="arrow-left" class="feather-xs"></i></span>
                </a>
            </div>
            <!-- #Cart is Empty -->

            <!-- Scenario 02 -->
            <!-- Cart Message -->
            <!-- <div class="d-flex align-items-center justify-content-between p-3 border rounded mb-3">
                <div class="d-flex align-items-center">
                    <div class="icon icon-md icon-shape icon-shape-primary rounded-circle me-3">
                        <i class="iconoir-cart"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="mb-0 text-sm">يوجد 9 منتجات في سلة المشتريات</p>
                    </div>
                </div>
                <a href="#" class="btn btn-sm btn-primary">عرض السلة</a>
            </div>  -->
            <!-- #Cart Message -->

            <!-- Scenario 03 -->
            <!-- Loop of Products -->
            <ul class="list-group end-opacity">
                <?php for($i = 1; $i < 8; $i++)  { ?>
                <a href="#"
                    class="list-group-item list-group-item-action d-flex justify-content-start align-items-start">

                    <!-- Product Image -->
                    <div class="flex-shrink-0">
                        <img src="https://media.zid.store/cdn-cgi/image/w=60,q=85,f=auto/https://media.zid.store/thumbs/cada0eba-1b92-45dd-92d2-486b3ba9674c/88f12c4d-730d-492c-9243-a39b0bca7f06-thumbnail-370x370-70.jpg"
                            class="img-fluid rounded" alt="Product Image">
                    </div>

                    <div class="flex-grow-1 ms-4">

                        <!-- Product Title -->
                        <div class="d-flex justify-content-between align-items-start">
                            <h6 class="fw-light">جاكيت بليزر أسود رجالي رجالي</h6>
                            <small class="badge bg-primary text-primary bg-opacity-10">50</small>
                        </div>

                        <!-- Product Price -->
                        <div class="text-muted d-flex flex-row-reverse justify-content-end align-items-center small">
                            <span class="ltr"><del>5 x 261.37 SAR</del></span>
                            <div class="vr mx-2"></div>
                            <mark class="text-danger bg-transparent fs-6 p-0">182.93 SAR</mark>
                        </div>
                    </div>
                </a>
                <?php } ?>
            </ul> <!-- #Loop of Products -->
        </div>
    </div>

    <!-- Cart CTA -->
    <div class="px-3 py-3 p-md-3 sticky-bottom bg-light">
        <div class="d-grid gap-2">
            <button class="btn btn-primary d-flex justify-content-between align-items-center" type="submit">
                مواصلة التسوق <span class="fw-bold"> <i class="iconoir-arrow-left"></i></span></span>
            </button>
            <button class="btn btn-primary btn-lg d-flex justify-content-between align-items-center" type="submit">
                إتمام عملية الشراء <span class="fw-bold">1574.32 SAR</span>
            </button>
        </div>
    </div>
</div>
<!-- #Offcanvas: Cart -->