<!-- Offcanvas: Menus -->
<div class="offcanvas offcanvas-start d-block d-lg-none bg-white border-0 shadow-lg" tabindex="-1" data-bs-scroll="true"
    id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header bg-primary">
        <h6 class="offcanvas-title text-white ps-2 ps-lg-0" id="offcanvasMenuLabel">
            قائمة التصفح
        </h6>
        <button type="button" class="btn-none btn-close-rotate p-0 text-white" data-bs-dismiss="offcanvas"
            aria-label="Close">
            <i class="iconoir-cancel iconoir-md"></i>
        </button>
    </div>

    <!-- Offcanvas Content -->
    <div class="offcanvas-body p-0">
        <div>

            <!-- Widget User Login -->
            <div class="flex-shrink-0 p-3">
                <div class="d-flex align-items-center text-muted border rounded p-3">
                    <div class="flex-shrink-0">
                        <i class="iconoir-user-cart fs-1"></i>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6 class="mb-0 small">مرحباً بعودتك</h6>
                        <a href="./" class="text-decoration-none text-primary">تسجيل الدخول</a>
                    </div>
                </div>
            </div>

            <!-- Widget User Logout -->
            <!-- <div class="flex-shrink-0 px-3 mb-3">
                <div class="d-flex justify-content-between align-items-center border rounded p-3 bg-light">
                    <div class="w-75">
                        <a href="./" class="text-decoration-none text-primary">
                            <i class="iconoir-user-circle-alt"></i>
                            محمد باصديق</a>
                    </div>
                    <a href="./" class="btn btn-danger btn-sm">
                        <i class="iconoir-log-out"></i> خروج
                        <span class="visually-hidden">تسجيل الخروج</span>
                    </a>
                </div>
            </div> -->

            <!-- #Widget User Logout -->

            <!-- Widget Search -->
            <div class="flex-shrink-0 px-3">
                <form class="d-flex mx-auto border rounded" role="search">
                    <input class="form-control form-control-no-focus ms-2 rounded-0 border-0" type="search"
                        placeholder="ابحث في المتجر" aria-label="Search">
                    <button class="btn btn-outline-dark border-0 rounded-0 rounded-end" type="submit">
                        <i data-feather="search"></i>
                    </button>
                </form>
            </div>

            <!-- Widget Categories -->
            <div class="flex-shrink-0 p-3">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="./" title="">
                        <span class="px-1"><i class="iconoir-home-alt fs-5 text-primary"></i></span>
                        الرئيسية
                    </a>
                    <a class="list-group-item list-group-item-action" href="./" title="">
                        <span class="px-1"><i class="iconoir-view-grid fs-5 text-primary"></i></span>
                        كل التصانيف
                    </a>
                    <a class="list-group-item list-group-item-action" href="./" title="">
                        <span class="px-1"><i class="iconoir-open-in-browser fs-5 text-primary"></i></span>
                        كل المنتجات </a>
                    <a class="list-group-item list-group-item-action" href="./" title="">
                        <span class="px-1"><i class="iconoir-box-iso fs-5 text-primary"></i></span>
                        خيارات الدفع
                        والتوصيل
                    </a>
                </div>
            </div>

            <!-- Widget Language & Country -->
            <div class="flex-shrink-0 px-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectLanguage" aria-label="Select Language">
                        <option selected>العربية</option>
                        <option value="1">English</option>
                    </select>
                    <label for="floatingSelectLanguage">اللغة الافتراضية</label>
                </div>
            </div>
            <div class="flex-shrink-0 px-3 mt-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectCountry" aria-label="Select Country">
                        <option selected>السعودية</option>
                        <option value="1">الكويت</option>
                        <option value="2">الإمارات</option>
                        <option value="3">مصر</option>
                    </select>
                    <label for="floatingSelectCountry">الشحن إلى</label>
                </div>
            </div> <!-- #Widget Language & Country -->
        </div>
    </div>
</div>
<!-- #Offcanvas: Menus -->