<!-- OffCanvas Cart -->
<div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="offcanvasCart"
  aria-labelledby="offcanvasCartLabel">
  <div class="offcanvas-header bg-light border-0">
    <h5 class="offcanvas-title" id="offcanvasCartLabel">
      <i data-feather="shopping-cart"></i> سلة المشتريات
    </h5>
    <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    <button type="button" class="btn-none btn-close-rotate" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="iconoir-cancel iconoir-md"></i>
    </button>
  </div>

  <!-- Sep -->

  <!-- Cart Content -->
  <div class="offcanvas-body p-0 mt-4 bg-white">
    <div>

      <ul class="list-group list-group-flush">

        <!-- Loop of Placeholder Products -->
        <?php for($i = 1; $i < 5; $i++)  { ?>

        <li class="list-group-item d-flex justify-content-around align-items-start mb-2">

          <!-- Product Image -->
          <div class="flex-shrink-0">
            <img
              src="https://media.zid.store/cdn-cgi/image/w=60,q=85,f=auto/https://media.zid.store/thumbs/cada0eba-1b92-45dd-92d2-486b3ba9674c/88f12c4d-730d-492c-9243-a39b0bca7f06-thumbnail-370x370-70.jpg"
              class="img-fluid rounded" alt="Product Image">
          </div>

          <div class="flex-grow-1 ms-4">
            <!-- Product Title -->
            <div class="fw-light">جاكيت بليزر أسود رجالي</div>
            <small class="text-primary">
              <i class="iconoir-ruler iconoir-xs"></i> 50</small>
            <!-- Product Price -->
            <div class="text-muted ltr py-2">
              <small> 5 x <del>261.37 SAR</del></small>
              <mark class="text-danger bg-transparent fs-5">182.93 SAR</mark>
            </div>
          </div>

          <!-- Product Deletion -->
          <!-- <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="left"
            title="حذف">
            <i data-feather="trash-2" class="feather-xs"></i>
          </a> -->

        </li>

        <?php } ?>

      </ul>

      <!-- if the cart was empty -->
      <!-- <div class="text-center py-5">
              <i data-feather="shopping-bag" class="feather-3x text-muted"></i>
              <p class="text-muted my-3">سلة المشتريات فارغة</p>

              <a href="#" class="btn btn-primary" title="">
                تسوق الآن <span class="px-2"><i data-feather="arrow-left" class="feather-xs"></i></span>
              </a>
          </div> -->

    </div>
  </div>

  <!-- Total -->
  <div class="px-5 py-3 p-md-3 sticky-bottom bg-floor-dark">
    <div class="d-flex align-items-center">
      <div class="flex-grow-1">
        <h5 class="mb-0">المجموع</h5>
        <p class="mb-0 mt-2">500 SAR</p>
      </div>
      <div class="flex-shrink-0">
        <a href="#" class="btn btn-primary" title="">
          إتمام عملية الشراء <span class="px-1"><i data-feather="arrow-left" class="feather-xs"></i></span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End of OffCanvas Cart -->