<!-- OffCanvas Cart -->
<form method="post" action="">
    <div class="offcanvas offcanvas-start" tabindex="-1" data-bs-scroll="true" id="offcanvasProductsFilter"
        aria-labelledby="offcanvasProductsFilterLabel">
        <div class="offcanvas-header bg-primary text-white border-0">
            <h5 class="offcanvas-title" id="offcanvasProductsFilterLabel">
                تصفية النتائج
            </h5>

            <button type="button" class="btn-none btn-close-rotate text-yellow" data-bs-dismiss="offcanvas"
                aria-label="Close">
                <i class="iconoir-cancel iconoir-md"></i>
            </button>
        </div>

        <!-- Sep -->

        <!-- Cart Content -->

        <div class="offcanvas-body p-0">


            <div>


                <div class="flex-shrink-0 p-3">
                    <h6 class="text-dark">السعر</h6>
                    <div class="row g-3 align-items-start">
                        <div class="col">
                            <label for="productMin" class="col-form-label">من</label>
                        </div>
                        <div class="col">
                            <input type="number" min="0" value="0" placeholder="SAR" id="productMin"
                                class="form-control">
                        </div>
                        <div class="col">
                            <label for="productMax" class="col-form-label">إلى</label>
                        </div>
                        <div class="col">
                            <input type="number" max="10000" value="10000" placeholder="SAR" id="productMax"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="flex-shrink-0 p-3">
                    <label for="customRangePrice" class="form-label">تغيير السعر </label>
                    <input type="range" class="form-range" min="0" max="100" id="customRangePrice">
                    <!-- <div id="html5"></div>
                    <select id="input-select"></select>
                    <input type="number" min="0" max="10000" step="1" id="input-number"> -->
                </div>
                <hr>
                <div class="flex-shrink-0 p-3">

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">عرض التخفيضات فقط</label>
                    </div>

                </div>




            </div>
        </div>

        <div class="px-5 py-3 p-md-3 sticky-bottom bg-floor-dark d-flex justify-content-end justify-content-md-end">
            <button type="reset" class="btn btn-dark border" data-bs-dismiss="modal">



                مسح


            </button>
            <button type="button" class="btn btn-primary ms-2">

                <span class="px-1"><i class="iconoir-save-floppy-disk iconoir-xs"></i></span> حفظ

            </button>
        </div>

    </div>
    <!-- End of OffCanvas Cart -->

</form>