<!-- OffCanvas Cart -->
<div class="offcanvas offcanvas-start d-block d-lg-none bg-white" tabindex="-1" data-bs-scroll="true" id="offcanvasMenu"
    aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header bg-primary text-white border-0">
        <h5 class="offcanvas-title" id="offcanvasMenuLabel">
            قائمة التصفح
        </h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        <button type="button" class="btn-none btn-close-rotate text-yellow" data-bs-dismiss="offcanvas"
            aria-label="Close">
            <i class="iconoir-cancel iconoir-md"></i>
        </button>
    </div>

    <!-- Sep -->

    <!-- Cart Content -->
    <div class="offcanvas-body p-0">
        <div>
            <div class="flex-shrink-0 p-3 bg-white">
                <form class="d-flex mx-auto w-100 border rounded" role="search">
                    <input class="form-control form-control-lg form-control-no-focus ms-2 rounded-0 border-0"
                        type="search" placeholder="ابحث في المتجر" aria-label="Search">
                    <button class="btn btn-outline-primary border-0 rounded-0 rounded-end" type="submit">
                        <i data-feather="search"></i>
                    </button>
                </form>

            </div>

            <div class="flex-shrink-0 p-3 bg-floor-dark">

                <ul class="list-unstyled ps-0 fs-5">


                    <li class="mb-1">
                        <a class="link-dark d-inline-flex text-decoration-none" href="./" title="">
                            <span class="px-2"><i class="iconoir-home iconoir-md"></i></span>
                            الرئيسية</a>
                    </li>
                    <li class="border-top my-3"></li>

                    <li class="mb-1">
                        <a class="link-dark d-inline-flex text-decoration-none" href="./" title="">
                            <span class="px-2"><i class="iconoir-view-grid iconoir-md"></i></span>
                            كل التصانيف </a>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <a class="link-dark d-inline-flex text-decoration-none" href="./" title="">
                            <span class="px-2"><i class="iconoir-open-in-browser iconoir-md"></i></span>
                            كل المنتجات </a>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <a class="link-dark d-inline-flex text-decoration-none" href="./" title="">

                            <span class="px-2"><i class="iconoir-truck iconoir-md"></i></span>

                            خيارات الدفع
                            والتوصيل </a>
                    </li>
                </ul>
            </div>


            <div class="flex-shrink-0 p-3 bg-white">

                <ul class="list-unstyled ps-0">


                    <li class="mb-1 d-flex justify-content-between text-muted">



                        <span> العضوية</span>


                        <a class="link-primary text-decoration-none" href="./" title="">
                            تسجيل الدخول
                        </a>

                    </li>

                    <li class="border-top my-3"></li>

                    <li class="mb-1 d-flex justify-content-between text-muted">

                        <span>
                            الشحن إلى </span>


                        <a class="link-primary text-decoration-none" href="./" title="">
                            <span class="px-1"><i class="iconoir-check"></i></span> السعودية
                        </a>


                    </li>
                    <li class="border-top my-3"></li>


                    <li class="mb-1 d-flex justify-content-between text-muted">

                        <span>تغيير اللغة</span>


                        <a class="link-primary text-decoration-none" href="./" title="">
                            English
                        </a>
                    </li>


                </ul>
            </div>


        </div>
    </div>

</div>
<!-- End of OffCanvas Cart -->