<!-- Categories -->
<section class="py-5 p-sm-5" role="categories">
  <div class="container">

    <!-- Section Title -->
    <div class="d-flex justify-content-between align-items-center mb-md-2 mb-3">
      <div class="flex-grow-1">
        <h5 class="p-0">
          <!-- <span class="px-2"><i class="iconoir-bookmark-circled"></i></span> -->
          التصانيف
        </h5>
      </div>

      <!-- Swipe Controls -->
      <div class="flex-shrink-0 position-relative">
        <div
          class="swiper-button-next swiper-button-next-sm swiper-button-next-categories link-secondary bg-light rounded-pill custom-link custom-link-7">
        </div>
        <div
          class="swiper-button-prev swiper-button-prev-sm swiper-button-prev-categories link-secondary bg-light rounded-pill custom-link custom-link-7">
        </div>
      </div> <!-- #Swipe Controls -->
    </div> <!-- #Section Title -->

    <!-- Categories List -->
    <div class="swiper categoriesSwiper">
      <div class="swiper-wrapper">

        <?php for($i = 1; $i < 5; $i++)  { ?>
        <div class="swiper-slide card card-product d-flex flex-column align-items-center">

          <!-- Category Image -->
          <a href="./category/" class="d-inline-block @overflow-hidden">
            <img src="media/cdn/categories/img-<?php echo $i ?>.png" alt="" class="card-img-top">
          </a><!-- #Category Image -->


          <!-- Category Link -->
          <a href="#" title="" class="fw-light fs-6 link-dark text-decoration-none d-inline-block py-2">
            شنط نسائي
          </a><!-- #Category Link -->
        </div>
        <?php } ?>
      </div>
    </div> <!-- #Categories List -->

    <!-- Link to See All -->
    <div class="d-flex mt-3">
      <div class="flex-grow-1">
        <!-- Any data or summary here -->
        <!-- like number of products or messages -->
      </div>
      <div class="flex-shrink-0">
        <a href="#" class="custom-link custom-link-7" title="">
          تصفح الكل <span class="px-2"><i data-feather="arrow-left" class="feather-xs"></i></span>
        </a>
      </div>
    </div><!-- #Link to See All -->

  </div>
</section>
<!-- #Categories -->