<!-- Intro -->
<!-- to show background we need to add `bg-overlay` to the section -->
<section class="py-5 p-sm-5 text-center bg-light" role="intro">
    <div class="container d-flex flex-column align-content-center">

        <figure class="mb-4">
            <!-- Title  -->
            <h5 class="fw-bold my-2">
                للعروض
            </h5>
            <p class="mb-3">
                عروض المنتجات
            </p>

            <div class="d-flex justify-content-center mb-4 gap-2">
                <a class="btn btn-primary btn-lg" href="#" title="">
                    استعرض الآن <span class="px-1"><i data-feather="arrow-left" class="feather-xs"></i></span>
                </a>

                <!-- <a class="btn btn-primary btn-lg" href="#" title="">
                    <span class="px-2"><i data-feather="shopping-cart" class="feather-xs"></i></span> سلة التسوق
                </a> -->
            </div>
        </figure>

        <figure class="mb-4">
            <!-- Logo of the Store or an Image -->
            <!-- <img class="d-block mx-auto mb-4" src="media/cdn/intro/logo.svg" alt="" width="60"> -->

            <!-- Store Title -->
            <h5 class="fw-bold my-2">
                متجر افتراضي
            </h5>

            <!-- Store Desc -->
            <p class="mb-0">
                <!-- متجر افتراضي للتجربة والتعلم لمنصة Zid Store للتجارة الإلكترونية والتسويق الإلكتروني والتسويق عبر الإنترنت  والتسويق عبر الهواتف الذكية    -->
                متجر افتراضي لشرح خصائص الثيم الافتراضي
            </p>

            <!-- Social Icons -->
            <ul class="nav d-flex align-content-center justify-content-center gap-2 gap-md-3 mt-3">
                <li>
                    <a class="link-primary grow" href="#" title="">
                        <i class="iconoir-twitter fs-4"></i>
                    </a>
                </li>

                <li>
                    <a class="link-primary grow" href="#" title="">
                        <i class="iconoir-facebook fs-4"></i>
                    </a>
                </li>
                <li>
                    <a class="link-primary grow" href="#" title="">
                        <i class="iconoir-instagram fs-4"></i>
                    </a>
                </li>

                <!-- <li>
                <a class="link-primary grow" href="#" title="">
                    <i class="iconoir-snapchat fs-4"></i>
                </a>
            </li> -->

                <li>
                    <a class="link-primary grow" href="#" title="">
                        <i class="iconoir-tiktok fs-4"></i>
                    </a>
                </li>

                <li>
                    <a class="link-primary grow" href="#" title="">
                        <i class="iconoir-phone fs-4"></i>
                    </a>
                </li>

                <li>
                    <a class="link-primary grow" href="#" title="">
                        <i class="iconoir-mail-opened fs-4"></i>
                    </a>
                </li>

                <li>
                    <a class="link-primary grow" href="#" title="">
                        <i class="iconoir-www fs-4"></i>
                    </a>
                </li>
            </ul>

        </figure>
    </div>
</section>
<!-- #Intro -->