<!-- Intro -->
<section class="@bg-overlay p-5 text-center bg-light" role="intro">
    <div class="container-fluid d-flex flex-column align-content-center">

        <h4 class="fw-bold my-4">
            للعروض
        </h4>
        <p class="mb-3">
            <!-- متجر افتراضي للتجربة والتعلم لمنصة Zid Store للتجارة الإلكترونية والتسويق الإلكتروني والتسويق عبر الإنترنت  والتسويق عبر الهواتف الذكية    -->
            عروض المنتجات
        </p>

        <div class="d-flex justify-content-center mb-4">
            <a class="btn btn-primary btn-lg px-4 gap-3" href="#" title="">
                استعرض الآن <span class="px-1"><i data-feather="arrow-left" class="feather-xs"></i></span>
            </a>
        </div>

        <!-- Logo of the Store or an Image -->
        <!-- <img class="d-block mx-auto mb-4" src="media/cdn/intro/logo.svg" alt="" width="60"> -->

        <!-- Store Title -->
        <h4 class="fw-bold my-4">
            متجر افتراضي
        </h4>



        <!-- Store Desc -->
        <p class="mb-0">
            <!-- متجر افتراضي للتجربة والتعلم لمنصة Zid Store للتجارة الإلكترونية والتسويق الإلكتروني والتسويق عبر الإنترنت  والتسويق عبر الهواتف الذكية    -->
            متجر افتراضي لشرح خصائص الثيم الافتراضي
        </p>

        <!-- Social Icons -->
        <ul class="nav d-flex align-content-center justify-content-center gap-2 gap-md-3 mt-3">
            <li>
                <a class="link-dark grow" href="#" title="">
                    <i class="iconoir-twitter iconoir-md"></i>
                </a>
            </li>

            <li>
                <a class="link-dark grow" href="#" title="">
                    <i class="iconoir-instagram iconoir-md"></i>
                </a>
            </li>

            <li>
                <a class="link-dark grow" href="#" title="">
                    <i class="iconoir-facebook iconoir-md"></i>
                </a>
            </li>

            <li>
                <a class="link-dark grow" href="#" title="">
                    <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg" color="currentColor">
                        <path fill="bg-primary" d="M0 0h24v24H0z"></path>
                        <path
                            d="M18 8.75c0-9-12-9-12 0v1.5H4.372c-.583 0-.823.749-.348 1.088L6 12.75c-.333 1.167-1.7 3.7-4.5 4.5.333.5 1.3 1.5 2.5 1.5l1 1.5 2.5-.5c.833.667 2.9 2 4.5 2s3.667-1.333 4.5-2l2.5.5 1-1.5c1.2 0 2.167-1 2.5-1.5-2.8-.8-4.167-3.333-4.5-4.5l1.976-1.412c.475-.339.235-1.088-.348-1.088H18v-1.5z"
                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                </a>
            </li>
            <li>
                <a class="link-dark grow" href="#" title="">
                    <i class="iconoir-tiktok iconoir-md"></i>
                </a>
            </li>

            <li>
                <a class="link-dark grow" href="#" title="">
                    <i class="iconoir-phone iconoir-md"></i>
                </a>
            </li>

            <li>
                <a class="link-dark grow" href="#" title="">
                    <i class="iconoir-mail-opened iconoir-md"></i>
                </a>
            </li>

            <li>
                <a class="link-dark grow" href="#" title="">
                    <i class="iconoir-globe iconoir-md"></i>
                </a>
            </li>
        </ul>

        <!-- Options & Links -->
        <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary btn-lg px-4 gap-3" href="#" title="">
          إستعرض الآن <span class="px-2"><i data-feather="arrow-left" class="feather-xs"></i></span>
        </a>
        <a class="custom-link custom-link-2 rounded-0" href="#" title="">
          <span class="px-2"><i data-feather="shopping-cart" class="feather-xs"></i></span> سلة التسوق
        </a>
      </div> -->


    </div>
</section>
<!-- End of Intro -->