<!-- Breadcrumb -->
<section class="bg-floor-darker py-3" role="products">
    <div class="container">
        <div class="row">
            <!-- col -->
            <div class="col">
                <!-- breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#" title="">الرئيسية</a></li>
                        <li class="breadcrumb-item"><a href="#" title="">التصانيف</a></li>
                        <li class="breadcrumb-item active" aria-current="page" title="">ملابس نسائية</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End of Breadcrumb -->