<!-- Demos Purpose Only -->
<script type="module" src="https://unpkg.com/ninja-keys?module"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons&display=swap">
<style>
    .ninja-action {
        text-align: right !important
    }
</style>


<!-- Demos Purpose Only -->
<div class="position-relative" style="z-index: 99999 !important">
    <ninja-keys placeholder="إنتقل إلى ..">
        <slot name="footer">hidden</slot>
    </ninja-keys>
</div>

<!-- Demos Purpose Only -->
<script src="js/demos-purpose.js"></script>