<!-- Partners -->
<section class="triangle-section triangle-section--flip-x bg-color-1 p-5" role="partners">
    <div id="scrolling">

        <!-- Section Title -->
        <!-- <h4 class="pb-2 border-bottom">
            <span class="px-2"><i class="iconoir-shopping-bag-check"></i></span> شركائنا
        </h4> -->

        <div class="item-scrolling">
            <?php for($i = 1; $i < 28; $i++)  { ?>
            <a href="#" title="" class="text-decoration-none">
                <img src="media/cdn/partners/img-<?php echo $i ?>.svg" alt="" class="grow">
            </a>
            <?php } ?>
        </div>
    </div>
</section>
<!-- End of Partners -->