<!-- Cart Hero  -->
<section class="bg-primary text-center py-5" role="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-white">
                    <h1>سلة المشتريات</h1>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Of Cart Hero  -->


<!-- shopping cart  -->

<section class="py-4 py-md-5 cart-view">
    <div class="container">

        <!-- row -->
        <div class="row">
            <div class="col-lg-8 col-md-7">

                <!-- alert -->
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    لم يتم إيجاد الكوبون
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>




                <div class="">


                    <ul class="list-group list-group-flush">
                        <?php for($i = 1; $i <16; $i++)  { ?>

                        <li class="list-group-item border-bottom mb-3 card-product border rounded">

                            <div class="row align-items-start align-items-md-center g-3">

                                <div
                                    class="col-8 my-2 mt-sm-3 mb-sm-0 col-sm-12 col-lg-1 d-grid justify-content-start justify-content-sm-center order-2 order-sm-0">
                                    <button class="btn btn-dark btn-sm" id="del-1">
                                        <i class="iconoir-delete-circled-outline iconoir-md"></i>
                                        <span class="d-inline-block d-lg-none">حذف</span>
                                    </button>
                                </div>

                                <div class="col-4 col-sm-12 col-lg-1 order-1 order-sm-0">

                                    <img src="https://media.zid.store/thumbs/cada0eba-1b92-45dd-92d2-486b3ba9674c/abf684d3-b2c4-4744-af12-f21cade5d204-thumbnail-370x370-70.jpeg"
                                        alt="" class="img-fluid img-thumbnail w-100">
                                </div>
                                <div class="col-12 col-sm-8 col-lg-6 order-sm-1 my-2 my-sm-3 pt-4 pt-sm-0">
                                    <h6>
                                        <a href="#" class="link-primary" title="">
                                            جاكيت بليزر أسود رجالي - <span>50</span>
                                        </a>
                                    </h6>

                                </div>

                                <div
                                    class="col-4 col-sm-4 col-lg-2 order-2 order-sm-1 d-flex d-sm-grid justify-content-between justify-content-sm-end my-2">

                                    <div class="input-group input-custom">
                                        <input type="button" value="-" class="button-minus btn btn-sm">
                                        <input type="number" step="1" max="10" value="1" name="quantity"
                                            class="form-control-sm form-input">
                                        <input type="button" value="+" class="button-plus btn btn-sm">
                                    </div>


                                </div>

                                <div
                                    class="px-2 p-sm-0 col-8 col-sm-12 col-lg d-grid d-lg-grid justify-content-md-center justify-content-lg-end order-sm-1 d-sm-flex justify-content-sm-between align-items-sm-center gap-sm-3 gap-lg-0">
                                    <span class="fw-bold fs-5">$5.00</span>
                                    <small class="text-muted"><del>1306.83 SAR</del></small>



                                    <span class="text-muted small">(للواحد 97.08 SAR)</span>




                                </div>
                            </div>

                        </li>

                        <?php } ?>

                    </ul>


                </div>
            </div>

            <!-- sidebar -->
            <div class="col-12 col-lg-4 col-md-5">
                <!-- card -->
                <div class="card card-product sticky-lg-top sticky-cart">
                    <div class="card-body p-3">
                        <!-- heading -->
                        <h2 class="h5 mb-4">المجموع</h2>
                        <div class="mb-3">
                            <!-- list group -->
                            <ul class="list-group list-group-flush">
                                <!-- list group item -->
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <span>قيمة المنتجات</span>

                                    </div>
                                    <span>1574.32 SAR</span>
                                </li>

                                <!-- list group item -->
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <span> رسوم الشحن</span>

                                    </div>
                                    <span>45.23 SAR</span>
                                </li>
                                <!-- list group item -->
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <span>المجموع الكلي</span>

                                    </div>
                                    <span>1574.32 SAR</span>
                                </li>
                                <!-- list group item -->


                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="me-auto">
                                        <span class="fs-7 text-danger">

                                            <svg class="rounded-pill me-1" width="8" height="8"
                                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                                <rect width="100%" height="100%" fill="currentColor"></rect>
                                            </svg>

                                            ملاحظة: هذا المجموع لا يشمل تكاليف التوصيل </span>

                                    </div>
                                </li>
                            </ul>

                        </div>

                        <div class="mt-3 py-2 p-3 card">

                            <a class="link-dark" data-bs-toggle="collapse" href="#collapseCoupon" role="button"
                                aria-expanded="false" aria-controls="collapseCoupon">
                                <i class="iconoir-gift iconoir-xs"></i> لديك قسيمة؟ اضغط هنا لإدخالها
                            </a>

                            <div class="collapse pb-3" id="collapseCoupon">
                                <form method="post" action="#">
                                    <div class="mb-2 mt-3">

                                        <label for="giftcard" class="form-label sr-only visually-hidden">إضافة
                                            كوبون</label>
                                        <input type="text" class="form-control" id="giftcard"
                                            placeholder="أدخل الكوبون الخاص بك">

                                    </div>

                                    <div class="d-grid"><button type="submit" class="btn btn-dark bg-floor-darker ">
                                            <span class="px-1">
                                                <i class="iconoir-gift"></i> </span> تطبيق الكوبون

                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>


                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-primary btn-lg d-flex justify-content-between align-items-center"
                                type="submit">
                                مواصلة التسوق <span class="fw-bold">
                                    <i class="iconoir-arrow-left"></i> </span>
                                </span></button>
                            <button class="btn btn-primary btn-lg d-flex justify-content-between align-items-center"
                                type="submit">
                                إتمام عملية الشراء <span class="fw-bold">1574.32 SAR</span></button>

                        </div>
                        <!-- text -->
                        <p class="my-2">


                            <span class="fs-7 text-muted">

                                <svg class="rounded-pill me-1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"
                                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="currentColor"></rect>
                                </svg>

                                بمتابعة طلبك ، فإنك توافق على شروطنا وسياسة الخصوصية </span>



                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>