<!-- Cart is Empty  -->

<section class="py-3 py-md-5" role="cart-empty">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center py-5">
                    <i data-feather="shopping-bag" class="feather-3x text-muted"></i>
                    <p class="text-muted my-3">سلة المشتريات فارغة</p>

                    <a href="#" class="btn btn-primary" title="">
                        تسوق الآن <span class="px-1"><i data-feather="arrow-left" class="feather-xs"></i></span>
                    </a>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- End of Cart is Empty  -->