<!-- FAQs Hero  -->
<section class="bg-primary text-center py-5" role="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-white">
                    <h1>الأسئلة الشائعة</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-4 py-md-4" role="faqs">
    <div class="container">


        <div class="row">


            <div class="col-12 col-md-12 col-lg-8 mx-auto">

                <div class="accordion" id="accordionPanelsStayOpenList">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                هل يمكنني الحصول على الخصم على الطلبات الكبيرة؟
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body text-muted">
                                منصة زد للتسوق هي منصة تسوق عبر الإنترنت تقدم خدماتها للمستخدمين من خلال موقعها
                                الإلكتروني وتطبيقاتها المتوفرة على الهواتف الذكية والأجهزة اللوحية والحاسب الآلي. وتقدم
                                منصة زد للتسوق خدماتها للمستخدمين من خلال موقعها الإلكتروني وتطبيقاتها المتوفرة على
                                الهواتف الذكية والأجهزة اللوحية والحاسب الآلي. وتقدم منصة زد للتسوق خدماتها للمستخدمين
                                من خلال موقعها الإلكتروني وتطبيقاتها المتوفرة على الهواتف الذكية والأجهزة اللوحية
                                والحاسب الآلي.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                هل يوجد خصم للطلبات الكبيرة؟
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body text-muted">
                                التسوق عبر الإنترنت لا يزال مجرد مبتدأ في العالم العربي. ولكنه يتطور بشكل سريع. ومع ذلك،
                                لا يزال هناك الكثير من الأشخاص الذين لا يعرفون كيفية التسوق عبر الإنترنت. ولذلك، نحن
                                نقدم لكم هذا الدليل الشامل للتسوق عبر الإنترنت في العالم العربي. وهذا الدليل يحتوي على
                                كل ما تحتاجه للتسوق عبر الإنترنت بشكل أمن وسليم. وهذا الدليل يحتوي على كل ما تحتاجه
                                للتسوق عبر الإنترنت بشكل أمن وسليم. وهذا الدليل يحتوي على كل ما تحتاجه للتسوق عبر
                                الإنترنت بشكل أمن وسليم. وهذا الدليل يحتوي على كل ما تحتاجه للتسوق عبر الإنترنت بشكل أمن
                                وسليم. وهذا الدليل يحتوي على كل ما تحتاجه للتسوق عبر الإنترنت بشكل أمن وسليم. وهذا
                                الدليل يحتوي على كل ما تحتاجه للتسوق عبر الإنترنت بشكل أمن وسليم. وهذا الدليل يحتوي على
                                كل ما
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                كيف يمكنني الحصول على الخصم؟
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body text-muted">
                                يمكنك الحصول على الخصم عن طريق الاتصال بنا. يرجى الاتصال بنا للحصول على تفاصيل. يمكنك
                                الاتصال بنا على الرقم 00966500000000 أو عبر البريد الإلكتروني
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFour">
                                هل يمكنني الحصول على الخصم عن طريق الاتصال بنا؟
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body text-muted">
                                يمكنك الحصول على الخصم عن طريق الاتصال بنا. يرجى الاتصال بنا للحصول على تفاصيل. يمكنك
                                الاتصال بنا على الرقم 00966500000000 أو عبر البريد الإلكتروني
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFive">
                                هل يمكنني الحصول على الخصم عن طريق الاتصال بنا؟
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFive">
                            <div class="accordion-body text-muted">
                                يمكنك الحصول على الخصم عن طريق الاتصال بنا. يرجى الاتصال بنا للحصول على تفاصيل. يمكنك
                                الاتصال بنا على الرقم 00966500000000 أو عبر البريد الإلكتروني
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>

    </div>

</section>
<!-- End of FAQs -->