<section class="py-5 t">
    <div class="container">
        <div class="row">
            <div class="col-6">

                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-slider-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-slider" type="button" role="tab" aria-controls="pills-slider"
                            aria-selected="true">
                            <i class="iconoir-enlarge-round-arrow"></i> سلايدر المنتج
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-gallery-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-gallery" type="button" role="tab" aria-controls="pills-gallery"
                            aria-selected="false">
                            <i class="iconoir-media-image-list"></i> معرض الصور
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-slider" role="tabpanel"
                        aria-labelledby="pills-slider-tab" tabindex="0">
                        <div class="card p-0 border-0 rounded-0 ltr position-relative overflow-hidden">

                            <div class="my-slider ltr">
                                <?php for($i=1;$i < 15; $i++)  { ?>
                                <img src="media/cdn/product-single/gallery/0<?php echo $i ?>.jpg" alt="Product Image"
                                    class="img-fluid rounded-1">
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-gallery" role="tabpanel" aria-labelledby="pills-gallery-tab"
                        tabindex="0">
                        <div class="card p-0 border-0 rounded-0">
                            <div class="row row-cols-1 row-cols-md-6 g-3">

                                <?php for($i=1;$i < 15; $i++)  { ?>
                                <div class="col">
                                    <div class="card card-product">

                                        <a href="media/cdn/product-single/gallery/0<?php echo $i ?>.jpg"
                                            class="glightbox">
                                            <img src="media/cdn/product-single/gallery/0<?php echo $i ?>.jpg"
                                                alt="Product Image" class="img-fluid rounded-1">
                                        </a>
                                    </div>
                                </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>