<!-- Product Single -->
<section class="py-4 py-md-4" role="product">
    <div class="container">
        <div class="row d-flex align-items-start">

            <!-- product sidebar -->
            <div class="col-12 col-sm-6 mb-3">
                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-slider-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-slider" type="button" role="tab" aria-controls="pills-slider"
                            aria-selected="true">
                            <i class="iconoir-enlarge-round-arrow"></i> سلايدر المنتج
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-gallery-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-gallery" type="button" role="tab" aria-controls="pills-gallery"
                            aria-selected="false">
                            <i class="iconoir-media-image-list"></i> معرض الصور
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-slider" role="tabpanel"
                        aria-labelledby="pills-slider-tab" tabindex="0">
                        <div class="card p-0 border-0 rounded-0 overflow-auto position-relative ltr">

                            <!-- card -->
                            <div class="card border-0">
                                <!-- main picture -->
                                <!-- #todo: test ratio (ration ratio-4x3 and ration ratio-1x1) -->
                                <div class="product" id="product">
                                    <?php for($i = 1; $i <10; $i++)  { ?>
                                    <div class="zoom" onmousemove="zoom(event)"
                                        style="background-image: url(media/cdn/product-single/01.jpg)">
                                        <img src="media/cdn/product-single/01.jpg"
                                            class="img-fluid mx-auto mw-100 mh-100" alt="" style="object-fit: cover;">
                                    </div>
                                    <?php } ?>
                                </div>

                                <!-- controls -->
                                <div class="w-100 controls d-flex justify-content-between my-3 position-absolute top-50 start-50 translate-middle"
                                    id="customize-controls">
                                    <button class="btn btn-outline-primary me-3" id="prev">
                                        <i class="iconoir-nav-arrow-left fs-3"></i>
                                    </button>
                                    <button class="btn btn-outline-primary ms-3" id="next">
                                        <i class="iconoir-nav-arrow-right fs-3"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- product tools -->
                            <div class="product-tools mt-2" hidden>
                                <div class="thumbnails row g-1 my-2" id="productThumbnails">
                                    <?php for($i = 1; $i <10; $i++)  { ?>
                                    <div class="col-3 mt-0">
                                        <div class="thumbnails-img">
                                            <img src="media/cdn/product-single/01.jpg" alt=""
                                                class="mx-auto d-block rounded-0">
                                        </div>
                                    </div>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-gallery" role="tabpanel" aria-labelledby="pills-gallery-tab"
                        tabindex="0">
                        <div class="card p-0 border-0 rounded-0">
                            <div class="row row-cols-4 row-cols-lg-6 g-3">

                                <?php for($i=1;$i < 15; $i++)  { ?>
                                <div class="col">
                                    <div class="card card-product">

                                        <a href="media/cdn/product-single/gallery/0<?php echo $i ?>.jpg"
                                            class="glightbox">
                                            <img src="media/cdn/product-single/gallery/0<?php echo $i ?>.jpg"
                                                alt="Product Image" class="img-fluid rounded-1">
                                        </a>
                                    </div>
                                </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>

                </div>

            </div><!-- #product sidebar -->

            <!-- product details -->
            <div class="col-12 col-sm-6">

                <!-- product headline  -->
                <div class="card bg-light border border-2 border-primary border-opacity-25 mb-3">
                    <div
                        class="d-flex justify-content-between align-items-start p-3 bg-primary text-primary bg-opacity-10">
                        <!-- product title -->
                        <div class="fs-4 d-grid gap-2 flex-grow-1">
                            <span class="fs-7 text-secondary animate slideIn">
                                <i class="iconoir-medal fs-6"></i> <span class="px-1">تم شراؤه أكثر من 20 مرة</span>
                            </span>
                            معطف كاشيه كاكي بطبعة رجالي
                        </div>

                        <!-- sharing feature -->
                        <div class="dropdown">
                            <button class="btn btn-primary" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="iconoir-share-android"></i>
                            </button>
                            <!-- social icons list -->
                            <ul class="dropdown-menu ">
                                <li>
                                    <a class="dropdown-item animate slideIn" href="#">
                                        <i class="bi bi-facebook"></i><span class="px-1"> فيسبوك</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item animate slideIn" href="#">
                                        <i class="bi bi-twitter"></i><span class="px-1">تويتر</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item animate slideIn" href="#">
                                        <i class="bi bi-instagram"></i><span class="px-1">انستجرام</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item animate slideIn" href="#">
                                        <i class="bi bi-whatsapp"></i> <span class="px-1">واتساب</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item animate slideIn" href="#">
                                        <i class="bi bi-telegram"></i> <span class="px-1">تيليجرام</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item animate slideIn" href="#"> <i
                                            class="bi bi-box-arrow-up-left"></i>
                                        <span class="px-1">مشاركة الرابط </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- #product headline  -->

                <!-- product short description -->
                <div class="card border-0 my-3">
                    <div class="accordion" id="accordionDetail">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    وصف مختصر للمنتج
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionDetail">
                                <div class="accordion-body">
                                    <p> وصف منتج مختصر ومفصل للمنتج ومعلوماته ومواصفاته ومميزاته ومعلوماته ومواصفاته
                                        ومميزاته ومعلوماته
                                        <a data-scroll href="#nav-product-tab"
                                            class="link-secondary text-decoration-underline">
                                            إعرف المزيد
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- #product short description -->

                <!-- product datalist -->
                <div class="card border-0 p-0 mb-3">
                    <ul class="list-group border-0">

                        <!-- productprice -->
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold mb-2">السعر</div>
                                <span class="text-muted text-decoration-line-through">300 ريال</span>
                                <sup class="badge bg-primary text-primary bg-opacity-25 ms-2">وفر 20%</sup>
                            </div>
                            <span class="badge bg-light text-primary rounded-pill fs-5">179.12ر.س</span>
                        </li>
                        <!-- product code -->
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">رمز المنتج</div>
                            </div>
                            <code class="badge text-bg-light text-muted rounded-pill fs-6 fw-light user-select-all">
                                CATCT22K-1527-006-397
                                <span class="btn-clipboard" data-clipboard-text="CATCT22K-1527-006-397">
                                    <i  title="نسخ" class="iconoir-copy fs-5"></i> 
                                </span>
                            </code>
                        </li>
                        <!-- product weight -->
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">الوزن</div>
                            </div>
                            <span class="badge text-bg-light text-muted rounded-pill ltr fs-6">1 Kg</span>
                        </li>

                        <!-- product rating -->
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">التقييم</div>
                                <div class="text-warning my-2">
                                    <small>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star"></i></small>
                                    <span class="text-muted small">(45)</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div><!-- #product datalist -->

                <!-- product filters -->
                <div class="card my-3 border-0">
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGridColor">
                                    <option selected>الوردي</option>
                                    <option value="1">الأحمر</option>
                                    <option value="2">الأزرق</option>
                                    <option value="3">الأخضر</option>
                                    <option value="1">الأصفر</option>
                                    <option value="2">البني</option>
                                    <option value="3">الكاكي</option>
                                </select>
                                <label for="floatingSelectGridColor">اللون</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGridSize">
                                    <option selected>S</option>
                                    <option value="1">M</option>
                                    <option value="2">L</option>
                                    <option value="3">XL</option>
                                    <option value="3">2XL</option>
                                    <option value="3">3XL</option>
                                </select>
                                <label for="floatingSelectGridSize">المقاس</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelectGridCQuantity">
                                    <option selected>1</option>
                                    <option value="1">2</option>
                                    <option value="2">3</option>
                                    <option value="3">4</option>
                                    <option value="1">5</option>
                                    <option value="2">6</option>
                                    <option value="3">7</option>
                                </select>
                                <label for="floatingSelectGridCQuantity">الكمية</label>
                            </div>
                        </div>
                    </div>
                </div><!-- #product filters -->

                <!-- product grid of buttons -->
                <div class="card p-3 border">
                    <span class="fs-6 text-muted">
                        <i class="iconoir-light-bulb-on fs-5 animated flash infinite hinge"></i>
                        نبهني عندما يكون المنتج متاحا
                    </span>
                    <!-- form to notify the user -->
                    <div class="input-group mt-2">
                        <input type="text" class="form-control" placeholder="أدخل بريدك الإلكتروني"
                            aria-label="Recipient's username" aria-describedby="ApplyEmailNotification"
                            id="EmailNotification">
                        <button class="btn btn-primary" type="button" id="ApplyEmailNotification" disabled>
                            <span class="px-1"><i class="iconoir-bell-notification"></i></span> تفعيل الإشعار
                        </button>
                    </div>
                </div><!-- #product grid of buttons -->

                <!-- product checkout -->
                <div class="card border-0 d-grid gap-2 my-3">
                    <!-- out of store -->
                    <button type="button" class="btn btn-primary" disabled>
                        <i class="iconoir-info-empty fs-6"></i>
                        <span class="px-1">نفذت الكمية</span>
                    </button>

                    <!-- add to cart -->
                    <button type="button" class="btn btn-primary btn-block">
                        <i data-feather="shopping-cart" class="feather-xs"></i>
                        <span class="px-1">أضف إلى السلة</span>
                    </button>

                    <!-- trigger toast -->
                    <button type="button" class="btn btn-primary" id="liveToastBtn">
                        <i class="iconoir-message-text fs-6"></i>
                        <span class="px-1">إظهار رسالة تنبيه أو خطأ</span>
                    </button>
                    <div class="toast-container position-fixed bottom-0 start-0 translate-middle-y p-3 z-index-higher">
                        <div id="liveToast" class="toast bg-white shadow-lg border-0" role="alert" aria-live="assertive"
                            aria-atomic="true">
                            <div class="toast-header bg-primary text-white">
                                <i class="iconoir-app-notification"></i>
                                <strong class="me-auto ms-2">رسالة تنبيهية</strong>
                                <small class="text-muted"></small>
                                <button type="button" class="btn-close btn-close-white me-0 m-auto"
                                    data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                المرجو تحديد الخيارات أولا
                            </div>
                        </div>
                    </div> <!-- #trigger toast -->

                    <!-- show more form inputs  -->
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseCardOptions" aria-expanded="false" aria-controls="collapseCardOptions">
                        <i class="iconoir-more-horiz fs-6"></i>
                        <span class="px-2"> خصائص إضافية</span>
                    </button>
                </div><!-- #product checkout -->

            </div><!-- #product details -->
        </div>
    </div>
</section>
<!-- #Product Single -->