<!-- Product Single Options -->
<div class="collapse" id="collapseCardOptions">
    <div class="position-relative" role="options">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card p-3 my-3 border border-2 border-opacity-10">
                        <!-- form input  -->
                        <div class="row g-3">
                            <div class="col-12 col-sm">
                                <label for="formGroupInputID-1" class="form-label">حقل نصي</label>
                                <input type="text" class="form-control" id="formGroupInputID-1" placeholder="نص توضيحي">
                            </div>
                            <div class="col-12 col-sm">
                                <label for="formGroupInputID-2" class="form-label">حقل رقمي</label>
                                <input type="number" min="0" max="100" class="form-control text-start"
                                    id="formGroupInputID-2" placeholder="نص توضيحي">
                            </div>
                            <div class="col-12 col-sm">
                                <label for="formGroupInputID-3" class="form-label">حقل التاريخ</label>
                                <input type="date" class="form-control text-start" id=" formGroupInputID-3"
                                    name="trip-start" value="2022-09-22" min="2022-09-01" max="2022-09-31"
                                    placeholder="">
                            </div>
                            <div class="col-12 col-sm">
                                <label for="formGroupInputID-4" class="form-label">حقل رقمي</label>
                                <input type="time" class="form-control text-start" id="formGroupInputID-4"
                                    placeholder="">
                            </div>
                        </div><!-- #form input  -->

                        <!-- checkbox list  -->
                        <div class="row g-3 my-3">
                            <div class="col-sm-12">
                                <div class="list-group list-group-horizontal-sm">
                                    <li class="list-group-item list-group-item-action">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="defaultCheck-1">
                                            <label class="form-check-label" for="defaultCheck-1">
                                                خيار 1 (+ 7.00 ر.س )
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item list-group-item-action">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="defaultCheck-2">
                                            <label class="form-check-label" for="defaultCheck-2">
                                                خيار 2 (+ 7.00 ر.س )
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item list-group-item-action">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="defaultCheck-3">
                                            <label class="form-check-label" for="defaultCheck-3">
                                                خيار 2 (+ 7.00 ر.س )
                                            </label>
                                        </div>
                                    </li>

                                    <li class="list-group-item list-group-item-action">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="defaultCheck-4">
                                            <label class="form-check-label" for="defaultCheck-4">
                                                خيار 2 (+ 7.00 ر.س )
                                            </label>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </div><!-- #checkbox list  -->

                        <!-- form select  -->
                        <div class="row g-3">
                            <div class="col-12 col-sm">
                                <div class="card p-2 border-0">
                                    <label for="formGroupInputID-5" class="form-label">قائمة منسدلة</label>
                                    <select class="form-select" aria-label="Default Select">
                                        <option selected>اختر من القائمة</option>
                                        <option value="1">دبي</option>
                                        <option value="2">الرياض</option>
                                        <option value="3">طوكيو</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm">
                                <div class="card p-2 border-0">
                                    <label for="formGroupInputID-9" class="form-label"> 2 قائمة منسدلة</label>
                                    <select class="form-select" aria-label="Default Select">
                                        <option selected>اختر من القائمة</option>
                                        <option value="1">دبي</option>
                                        <option value="2">الرياض</option>
                                        <option value="3">طوكيو</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm">
                                <div class="card p-2 border-0">
                                    <label for="formFile" class="form-label">تحميل ملف</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                            </div>
                            <div class="col-12 col-sm">
                                <div class="card p-2 border-0">
                                    <label for="formImage" class="form-label">تحميل صورة</label>
                                    <input class="form-control" type="file" id="formImage">
                                </div>
                            </div>
                        </div><!-- #form select  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #Product Single Options -->