<!-- Product Single Tabs -->
<section class="py-2 py-md-4 mb-4" role="tabs">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- tabs nav -->
                <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-product-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-product" type="button" role="tab" aria-controls="nav-product"
                            aria-selected="true">وصف المنتج</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-settings-tab" data-bs-toggle="tab" data-bs-target="#nav-settings"
                            type="button" role="tab" aria-controls="nav-settings" aria-selected="false">خيارات
                            المنتج</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews"
                            type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">تقييم
                            المنتج</a>
                    </li>
                </ul><!-- #tabs nav -->

                <!-- tabs content -->
                <div class="tab-content" id="nav-tabContent">

                    <!-- tab product -->
                    <div class="tab-pane fade show active" id="nav-product" role="tabpanel"
                        aria-labelledby="nav-product-tab" tabindex="0">
                        <div class="card my-3 border-0 p-0 position-relative user-select-auto">
                            <p>
                                وصف طويل للمنتج يتضمن معلومات مفصلة عن المنتج ومميزاته ومواصفاته وما إلى ذلك. ويمكنك
                                أيضًا
                                إضافة
                                معلومات إضافية عن المنتج أو الخدمة أو العلامة التجارية أو الشركة أو الشركة التي تقدم
                                المنتج
                                أو
                                الخدمة. ويمكنك أيضًا إضافة معلومات إضافية عن المنتج أو الخدمة أو العلامة التجارية أو
                                الشركة
                                أو
                                الشركة التي تقدم المنتج أو الخدمة.
                            </p>
                            <p>
                                ويمكنك أيضًا إضافة معلومات إضافية عن المنتج أو الخدمة أو العلامة التجارية أو الشركة أو
                                الشركة التي تقدم المنتج أو الخدمة. ويمكنك أيضًا إضافة معلومات إضافية عن المنتج أو الخدمة
                                أو
                                العلامة التجارية أو الشركة أو الشركة التي تقدم المنتج أو الخدمة. ويمكنك أيضًا إضافة
                                معلومات.
                            </p>
                            <p>
                                وصف طويل للمنتج يتضمن معلومات مفصلة عن المنتج ومميزاته ومواصفاته وما إلى ذلك. ويمكنك
                                أيضًا
                                إضافة
                                معلومات إضافية عن المنتج أو الخدمة أو العلامة التجارية أو الشركة أو الشركة التي تقدم
                                المنتج
                                أو
                                الخدمة. ويمكنك أيضًا إضافة معلومات إضافية عن المنتج أو الخدمة أو العلامة التجارية أو
                                الشركة
                                أو
                                الشركة التي تقدم المنتج أو الخدمة.
                            </p>
                            <p id="reviews" class="d-none">
                                ssوصف طويل للمنتج يتضمن معلومات مفصلة عن المنتج ومميزاته ومواصفاته وما إلى ذلك. ويمكنك
                                أيضًا إضافة معلومات إضافية عن المنتج أو الخدمة أو العلامة التجارية أو الشركة أو الشركة
                                التي تقدم المنتج أو الخدمة. ويمكنك أيضًا إضافة معلومات إضافية عن المنتج أو الخدمة أو
                                العلامة التجارية أو الشركة أو الشركة التي تقدم المنتج أو الخدمة.

                                ويمكنك أيضًا إضافة معلومات إضافية عن المنتج أو الخدمة أو العلامة التجارية أو الشركة أو
                                الشركة التي تقدم المنتج أو الخدمة. ويمكنك أيضًا إضافة معلومات إضافية عن المنتج أو الخدمة
                                أو العلامة التجارية أو الشركة أو الشركة التي تقدم المنتج أو الخدمة. ويمكنك أيضًا إضافة
                                معلومات.

                                وصف طويل للمنتج يتضمن معلومات مفصلة عن المنتج ومميزاته ومواصفاته وما إلى ذلك. ويمكنك
                                أيضًا إضافة معلومات إضافية عن المنتج أو الخدمة أو العلامة التجارية أو الشركة أو الشركة
                                التي تقدم المنتج أو الخدمة. ويمكنك أيضًا إضافة معلومات إضافية عن المنتج أو الخدمة أو
                                العلامة التجارية أو الشركة أو الشركة التي تقدم المنتج أو الخدمة.


                                وصف طويل للمنتج يتضمن معلومات مفصلة عن المنتج ومميزs\اته ومواصفاته وما إلى ذلك. ويمكنك
                                أيضًا
                                إضافة
                                معلومات إضافية عن المنتج أو الخدمة أو العلامة التجارية أو الشركة أو الشركة التي تقدم
                                المنتج
                                أو
                                الخدمة. ويمكنك أيضًا إضافة معلومات إضافية عن المنتج أو الخدمة أو العلامة التجارية أو
                                الشركة
                                أو
                                الشركة التي تقدم المنتج أو الخدمة.
                            </p>

                            <!-- load more -->
                            <div class="loadmore position-relative" id="loadmore">
                                <button id="loadMoreReviewsButton" class="btn btn-link px-0 position-absolute">
                                    <span>أظهر التتمة</span>
                                </button>
                            </div>
                        </div>
                    </div><!-- #tab product -->

                    <!-- tab product -->
                    <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab"
                        tabindex="0">
                        <div class="card my-3 border-0 p-0">
                            <div class="table-responsive">
                                <table class="table table-sm table-striped table-hover">
                                    <!-- thead -->
                                    <thead>
                                        <tr>
                                            <th scope="col">اللون</th>
                                            <th scope="col">المقاس</th>
                                            <th scope="col">السعر</th>
                                            <!-- <th scope="col">الصورة</th> -->
                                        </tr>
                                    </thead>
                                    <!-- tbody -->
                                    <tbody>
                                        <tr>
                                            <td>أحمر</td>
                                            <td>صغير</td>
                                            <td>100 ريال</td>
                                            <!-- <td>
                                                <img src="media/cdn/featured/img-1.jpg" alt="" class="img-fluid"
                                                    style="height: 40px">
                                            </td> -->
                                        </tr>
                                        <tr>
                                            <td>أصفر</td>
                                            <td>كبير</td>
                                            <td>100 ريال</td>
                                        </tr>
                                        <tr>
                                            <td>أخضر</td>
                                            <td>كبير</td>
                                            <td>
                                                <small
                                                    class="text-muted d-flex flex-row justify-content-start align-items-center gap-2">
                                                    <div class="text-start">
                                                        <strong class="fs-6 text-danger">500 رس</strong>
                                                        <small><del class="text-decoration-line-through">620
                                                                رس</del></small>
                                                    </div>
                                                </small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>أزرق</td>
                                            <td>كبير</td>
                                            <td>100 ريال</td>
                                        </tr>
                                        <tr>
                                            <td>بني</td>
                                            <td>كبير</td>

                                            <td>100 ريال</td>
                                        </tr>
                                        <tr>
                                            <td>بنفسجي</td>
                                            <td>كبير</td>
                                            <td>
                                                <small
                                                    class="text-muted d-flex flex-row justify-content-start align-items-center gap-2">
                                                    <div class="text-start">
                                                        <strong class="fs-6 text-danger">500 رس</strong>
                                                        <small><del class="text-decoration-line-through">620
                                                                رس</del></small>
                                                    </div>

                                                </small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>أحمر</td>
                                            <td>كبير</td>
                                            <td>100 ريال</td>
                                        </tr>
                                        <tr>
                                            <td>قاني</td>
                                            <td>كبير</td>
                                            <td>100 ريال</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- #tab product -->

                    <!-- tab reviews -->
                    <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab"
                        tabindex="0">
                        <div class="card my-3 border-0">
                            <div class="row">
                                <!-- sidebar -->
                                <div class="col-sm-6 col-lg-4">
                                    <div class="card p-0 border-0">
                                        <div>
                                            <!-- add review button -->
                                            <div class="d-grid gap-2">
                                                <a href="#" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#addReviewModal">
                                                    <i class="iconoir-chat-add"></i> <span class="px-1">أضف
                                                        تقييما</span>
                                                </a>
                                            </div>

                                            <!-- add review form -->
                                            <div class="modal fade" id="addReviewModal" tabindex="-1"
                                                aria-labelledby="addReviewModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h6 class="modal-title" id="addReviewModalLabel">
                                                                اترك تقييمك
                                                            </h6>
                                                            <button type="button" class="btn-none btn-close-rotate p-0"
                                                                data-bs-dismiss="modal" aria-label="Close">
                                                                <i class="iconoir-cancel iconoir-md"></i>
                                                            </button>
                                                        </div>
                                                        <!-- textarea for review text -->
                                                        <div class="modal-body">
                                                            <div
                                                                class="card border-0 p-0 d-flex flex-row justify-content-between">
                                                                <span class="text-muted"> اختر التقييم</span>
                                                                <div id="rater"></div>
                                                                <!-- <span class="live-rating text-dark"></span> -->
                                                            </div>
                                                            <div class="card border-0 p-0 my-3">
                                                                <div class="form-floating">
                                                                    <textarea class="form-control pulse-grouped"
                                                                        placeholder="" id="floatingTextarea"
                                                                        style="height: 100px">
                                                                    </textarea>
                                                                    <label for="floatingTextarea">أضف تعليقك هنا</label>
                                                                </div>
                                                            </div>
                                                            <div class="card p-2">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" checked
                                                                        type="checkbox" value="1"
                                                                        id="flexCheckIndeterminate">
                                                                    <label class="form-check-label"
                                                                        for="flexCheckIndeterminate">
                                                                        أوافق على إظهار إسمي في قائمة الآراء
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- add review button -->
                                                        <div class="modal-footer">
                                                            <div class="d-flex gap-2">
                                                                <button type="button" class="btn btn-primary btn-sm">
                                                                    <i class="iconoir-plus fs-5"></i>
                                                                    <span class="px-1"> أضف تقييمك </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- rating -->
                                            <span
                                                class="d-flex align-items-center justify-content-center my-3 border rounded p-2">
                                                <small class="text-primary mx-3">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-half"></i>
                                                </small>
                                                <span class="vr"></span>
                                                <strong class="mx-3">4.0</strong>
                                                <span class="vr"></span>
                                                <span class="mx-3 text-muted">1234تقييم</span>
                                            </span>
                                        </div>

                                        <!-- rating details -->
                                        <div class="mb-4 border rounded p-3">
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <div class="w-75">
                                                    <div class="progress" style="height: 6px;">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                            style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="w-25 text-nowrap ms-3 text-muted d-flex justify-content-evenly">
                                                    <span class="text-muted">53%</span>
                                                    <span class="d-inline-block align-middle text-muted">رائع
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center my-2">
                                                <div class="w-75">
                                                    <div class="progress" style="height: 6px;">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                            style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="50"></div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="w-25 text-nowrap ms-3 text-muted d-flex justify-content-evenly">
                                                    <span class="text-muted">22%</span>
                                                    <span class="d-inline-block align-middle text-muted">ممتاز
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <div class="w-75">
                                                    <div class="progress" style="height: 6px;">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                            style="width: 35%;" aria-valuenow="35" aria-valuemin="0"
                                                            aria-valuemax="35"></div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="w-25 text-nowrap ms-3 text-muted d-flex justify-content-evenly">
                                                    <span class="text-muted">14%</span>
                                                    <span class="d-inline-block align-middle text-muted">جيد
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <div class="w-75">
                                                    <div class="progress" style="height: 6px;">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                            style="width: 22%;" aria-valuenow="22" aria-valuemin="0"
                                                            aria-valuemax="22"></div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="w-25 text-nowrap ms-3 text-muted d-flex justify-content-evenly">
                                                    <span class="text-muted">2%</span>
                                                    <span class="d-inline-block align-middle text-muted">لم يعجبني
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <div class="w-75">
                                                    <div class="progress" style="height: 6px;">
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                            style="width: 14%;" aria-valuenow="14" aria-valuemin="0"
                                                            aria-valuemax="14"></div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="w-25 text-nowrap ms-3 text-muted d-flex justify-content-evenly">
                                                    <span class="text-muted">7%</span>
                                                    <span class="d-inline-block align-middle text-muted">سيئ
                                                    </span>
                                                </div>
                                            </div>
                                        </div><!-- #rating details -->
                                    </div>
                                </div>

                                <!-- reviews list -->
                                <div class="col-sm-6 col-lg-8">

                                    <!-- list of all reviews -->
                                    <div class="list-group">
                                        <!-- loop reviews -->
                                        <?php for($i = 1; $i <6; $i++)  { ?>
                                        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">
                                                    <div class="text-warning my-2 fs-6">
                                                        <small>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star"></i></small>
                                                        <span class="text-muted small">4.0</span>
                                                    </div>
                                                </h5>
                                                <small class="text-muted">منذ 5 ساعات</small>
                                            </div>
                                            <p class="mb-2">منتج رائع وجودة عالية وسعر ممتاز وتوصيل سريع ومجاني والتعامل
                                                مع الشركة ممتاز والمنتجات متنوعة والتوصيل سريع ومجاني والتعامل مع الشركة
                                                ممتاز والمنتجات متنوعة والتوصيل سريع ومجاني والتعامل مع الشركة ممتاز.
                                            </p>
                                            <small>
                                                <span class="text-muted">من قبل</span>
                                                <span class="text-primary">محمد عبدالله</span>
                                            </small>
                                        </a>
                                        <?php } ?>
                                    </div>

                                    <!-- pagination -->
                                    <div class="row mt-2 mt-md-3">
                                        <div class="col">
                                            <nav aria-label="navigation">
                                                <ul class="pagination pagination-sm justify-content-end">
                                                    <li class="page-item disabled">
                                                        <a class="page-link">السابق</a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item active"><a class="page-link" href="#">2</a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">التالي</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div><!-- #pagination -->
                                </div>
                            </div>
                        </div>
                    </div><!-- #tab reviews -->
                </div><!-- #tabs content -->
            </div>
        </div>
    </div>
</section>
<!-- #Product Single Tabs -->