/* FF Shamel */
@font-face {
  font-family: "FF Shamel Regular";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../../fonts/FFShamel/FFShamelRegular.ttf") format("truetype");
}

@font-face {
  font-family: "FF Shamel Bold";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../../fonts/FFShamel/FFShamelBold.ttf") format("truetype");
}

:root {
  --font-primary: "FF Shamel Regular", sans-serif;
  --font-primary-bold: "FF Shamel Bold", sans-serif;
}
