.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 3s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: 0.75s;
}

/* rotate */
.rotate {
  overflow: hidden;
  width: 100%;
}

.rotate img {
  transition: all 0.6s;
  max-width: 100%;
}

.rotate img:hover {
  transform: scale(1.1) rotate(1deg);
}
/* rotate center */
.rotate-center:hover {
  animation: rotate-center 1s;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .rotate up */
.rotate-up {
  transform: rotateX(1deg) rotateZ(0deg);
  transform-style: preserve-3d;
  will-change: transform;
  transition: 0.2s ease-in-out transform;
}

.rotate-up:hover {
  transform: translate3d(0px, -5px, 0px) rotateX(0deg) rotateZ(0deg);
}

/* .rotate z  */
.rotate-z {
  transform: rotateX(0deg) rotateZ(-1deg);
  transform-style: preserve-3d;
  will-change: transform;
  transition: 0.2s ease-in-out transform;
}

.rotate-z:hover {
  transform: translate3d(0, 0, -4px) rotateX(0deg) rotateZ(1deg);
}

/* rotate perspective */
.rotate-perspective {
  transform: rotateX(5deg) rotateZ(5deg) scale(0.8);
  transform-style: preserve-3d;
  will-change: transform;
  transition: 0.4s ease-in-out transform;
}

.rotate-perspective:hover {
  transform: translate3d(0px, -16px, 0px) rotateX(0) rotateZ(0);
  transform: scale(1.1);
  z-index: 9999;
}

/* grow */
.grow {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

/* animate & slideIn */
@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* card hover */

.translateY {
  transition: transform 0.2s ease-in-out;
}

.translateY:hover {
  transform: translateY(-0.25rem);
}

/* flash */

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}
/* pulse */
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}
/* pulse-grouped */
.pulse-grouped {
  animation: pulse-animation 3s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

/*  custom links */

*[class^="custom-link"] {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;

  /* #todo: to be removed */
  padding: 0.375rem 0.75rem;
  color: var(--color-primary);
}

.custom-link-1 {
  background: linear-gradient(var(--color-primary) 0 0) bottom / 100%
    var(--distance, 0px) no-repeat;
  transition: 0.5s;
}

.custom-link-1:hover {
  --distance: 10px;
}

.custom-link-2 {
  background: linear-gradient(var(--color-primary) 0 0) 50% calc(-3px - 100%) /
    var(--distance, 0%) 200% no-repeat;
  transition: 0.3s, background-size 0.3s 0.3s;
}
.custom-link-2:hover {
  --distance: 100%;
  background-position: 50% 0%;
  color: #fff !important;
  transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
}

.custom-link-3 {
  background: linear-gradient(var(--color-primary) 0 0) 0% calc(-3px - 100%) /
    var(--distance, 0%) 200% no-repeat;
  transition: 0.3s, background-size 0.3s 0.3s;
}
.custom-link-3:hover {
  --distance: 100%;
  background-position: 50% 0%;
  color: #fff !important;
  transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
}

.custom-link-4 {
  background: linear-gradient(var(--color-primary) 0 0) right /
      var(--distance, 0%) 100% no-repeat,
    linear-gradient(var(--color-primary) 0 0) left / var(--distance, 0%) 100%
      no-repeat;
  transition: 0.5s;
}
.custom-link-4:hover {
  --distance: 100%;
  color: #fff !important;
}

.custom-link-5 {
  background: linear-gradient(var(--color-primary) 0 0) top / 100%
      var(--distance, 0%) no-repeat,
    linear-gradient(var(--color-primary) 0 0) bottom / 100% var(--distance, 0%)
      no-repeat;
  transition: 0.5s;
}
.custom-link-5:hover {
  --distance: 100%;
  color: #fff !important;
}

.custom-link-6 {
  background: linear-gradient(var(--color-primary) 0 0) right / 100%
    var(--distance, 0%) no-repeat;
  transition: 0.5s;
}
.custom-link-6:hover {
  --distance: 100%;
  color: #fff !important;
}

.custom-link-7 {
  background: linear-gradient(var(--color-primary) 0 0) right /
    var(--distance, 0%) 100% no-repeat;
  transition: 0.5s;
}
.custom-link-7:hover {
  --distance: 100%;
  color: #fff !important;
}

.custom-link-8 {
  background: linear-gradient(var(--color-primary) 0 0) top / 100%
    var(--distance, 0%) no-repeat;
  transition: 0.5s;
}
.custom-link-8:hover {
  --distance: 100%;
  color: #fff !important;
}
