/* FF Shamel */
@font-face {
  font-family: "FF Shamel Regular";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/FFShamel/FFShamelRegular.ttf") format("truetype");
}

@font-face {
  font-family: "FF Shamel Bold";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/FFShamel/FFShamelBold.ttf") format("truetype");
}

/* DIN Next LT Arabic */
@font-face {
  font-family: "DIN Next LT Arabic";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/DINNextLTArabic/DINNextLTArabic.ttf") format("truetype");
}

/* FS Albert Arabic */
@font-face {
  font-family: "FS Albert Arabic";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/FSAlbertArabic/FSAlbertArabic.ttf") format("truetype");
}

/* List of available fonts  */
/* 
font-family: "FF Shamel Regular", sans-serif;
font-family: "FF Shamel Bold", sans-serif;
font-family: "DIN Next LT Arabic", sans-serif;
font-family: "FS Albert Arabic", sans-serif;
*/
