/* global styles */
body {
  /* font-family: "IBM Plex Sans Arabic", sans-serif; */
  /* font-family: "FFShamel Regular", sans-serif; */

  font-family: "Readex Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "FFShamel Bold", sans-serif; */
  font-family: "Readex Pro", sans-serif;
  font-weight: 600;
}

/* bootstrap inherit */
.btn-close:focus {
  box-shadow: none;
}

/* navbar-brand  */
.navbar-brand {
  transition: 0.2s ease-in-out transform;
}
.navbar-brand:hover {
  transform: rotate(-5deg) scale(1.1);
}

/* custom backgrounds */
.bg-gradient {
  background: linear-gradient(
      289.12deg,
      rgb(236, 238, 255) 20.74%,
      rgba(224, 227, 255, 0) 121.42%
    ),
    rgb(219, 255, 73);
  padding: 8px 16px;
}

/* ltr */
.ltr {
  direction: ltr !important;
}
