/* global styles */
body {
  font-family: "FS Albert Arabic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FS Albert Arabic", sans-serif;
  font-weight: 600;
}

a {
  /* color: #8661a3 !important; */
  text-decoration: none !important;
}
/* a:hover {
  color: #000 !important;
} */
:focus-visible {
  outline: none !important;
  border-color: none !important;
}

/* btn-close */
.btn-close {
  color: #ffd14b !important;
}
.btn-close:focus {
  box-shadow: none;
}

.btn-none {
  border: none !important;
  background: none !important;
}
.btn-none:hover {
  border: none !important;
  background-color: none !important;
}

.btn-close-rotate {
  transition: all 0.1s linear;
}

.btn-close-rotate:hover {
  transform: rotate(90deg);
  background-color: inherit !important;
  border-color: inherit !important;
}

/* tooltip */
.tooltip {
  font-family: "FS Albert Arabic", sans-serif;
}
/* carousel */
.carousel {
  margin-bottom: 0rem;
}
.carousel-item {
  height: 34rem;
}

/* carousel caption if any */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}
@media (max-width: 575.98px) {
  .carousel-item {
    height: inherit !important;
  }
}

/* w-75 */
@media (max-width: 575.98px) {
  .w-75 {
    width: 100% !important;
  }
}

/* iconoir sizes */
*[class^="iconoir-"],
*[class*=" iconoir-"],
*[class^="iconoir-"]::before,
*[class*=" iconoir-"]::before {
  display: inline-block !important;
  vertical-align: middle !important;
}

*[class^="iconoir-xs"]::before,
*[class*=" iconoir-xs"]::before {
  width: 1rem !important;
  height: 1rem !important;
}

*[class^="iconoir-md"]::before,
*[class*=" iconoir-md"]::before {
  width: 1.6rem !important;
  height: 1.6rem !important;
}
*[class^="iconoir-lg"]::before,
*[class*=" iconoir-lg"]::before {
  width: 2rem !important;
  height: 2rem !important;
}

/* backgrounds */
.bg-alternate {
  background: rgb(219, 255, 73);
}

.bg-gradient-between {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: radial-gradient(
      circle at 12% 55%,
      rgba(33, 150, 243, 0.15),
      hsla(0, 0%, 100%, 0) 25%
    ),
    radial-gradient(
      circle at 85% 33%,
      rgba(113, 73, 144, 0.175),
      hsla(0, 0%, 100%, 0) 25%
    );
}

/* #todo: export to a class */
.bg-primary-dark {
  background: #714990;
  color: #c8b7d5 !important;
}
.bg-primary-dark a {
  color: #c8b7d5 !important;
}
.bg-primary-dark a:hover {
  color: #fff !important;
}
.bg-gradient {
  background-image: linear-gradient(
    to left,
    #ffd14b,
    #ffc696,
    #ffd2de,
    #ffebff,
    #ffffff
  ) !important;
}
.bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./../../media/intro/backgrounds/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}
.bg-overlay a {
  color: #ffffff !important;
}

.bg-animated-gradient {
  animation: animateBg 14s linear infinite;
  background-image: linear-gradient(90deg, #ffd14b, #8d5ea7, #ffd14b, #8d5ea7);
  background-size: 300% 100%;
}
@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.bg-color-1 {
  background-color: rgba(247, 243, 237, 1);
}
.bg-color-2 {
  background-color: #f7f7f7;
}
.bg-color-3 {
  background-color: #f2f2f3;
}

/* progress */
#progress {
  line-height: 0 !important;
}

/* feather sizes */
.feather-xs {
  width: 1rem;
  height: 1rem;
}
.feather-sm {
  width: 1.25rem !important;
  height: 1.25rem !important;
}
.feather-md {
  width: 2rem;
  height: 2rem;
}

.feather-3x {
  width: 3rem;
  height: 3rem;
}

/* filters  */
.filter-white {
  filter: brightness(0) saturate(100%) invert(97%) sepia(100%) saturate(14%)
    hue-rotate(236deg) brightness(103%) contrast(103%);
}

/* utilities */
.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}

.text-yellow {
  color: #ffd14b !important;
}

.end-opacity::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    to top,
    hsla(225, 225%, 225%) 10%,
    hsla(225, 225%, 225%, 0)
  );
  pointer-events: none;
}

/* nested dropdown menu */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    right: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    left: 100%;
    right: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

/* form control with no focus */
.form-control-no-focus:focus {
  box-shadow: none !important;
}

.fs-7 {
  font-size: 0.88rem !important;
}

/* swipper pagination */
.swiper-pagination-bullet-active {
  background-color: #8661a3 !important;
}

/* zindex-fixed */

.zindex-fixed {
  z-index: 1030 !important;
}

/* card-product */
.card-product {
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

.card-product:hover {
  border: 1px solid #8661a3 !important;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12) !important;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

/* noUi-connect */
.noUi-connect {
  background: #8661a3;
}
