/*progress*/
#progress {
  line-height: 0 !important;
}

/* feather sizes */
.feather-xs {
  width: 1rem;
  height: 1rem;
}

.feather-md {
  width: 2rem;
  height: 2rem;
}

.filter-white {
  filter: brightness(0) saturate(100%) invert(97%) sepia(100%) saturate(14%)
    hue-rotate(236deg) brightness(103%) contrast(103%);
}
