/* ion.rangeSlider */

.range-slider {
  position: relative;
  height: 80px;
}
.irs--round .irs-bar,
.irs--round .irs-line {
  height: 2px;
}
.irs--round .irs-handle {
  border-color: var(--color-primary) !important;
}

.irs--round .irs-handle > i:first-child {
  background-color: var(--color-primary) !important;
}

.irs--round .irs-handle > i:last-child {
  background-color: var(--color-primary) !important;
}

.irs--round .irs-bar {
  background-color: var(--color-primary) !important;
}

.irs--round .irs-from {
  background-color: var(--color-primary) !important;
}

.irs--round .irs-to {
  background-color: var(--color-primary) !important;
}

.irs--round .irs-single {
  background-color: var(--color-primary) !important;
}

.irs--round .irs-from:before {
  background-color: var(--color-primary) !important;
}

.irs--round .irs-to:before {
  background-color: var(--color-primary) !important;
}

.irs--round .irs-single:before {
  background-color: var(--color-primary) !important;
}

.irs--round .irs-min,
.irs--round .irs-max {
  display: none !important;
}

.irs--round .irs-line {
  background-color: var(--color-dark) !important;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  border-top-color: var(--color-primary) !important;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  direction: ltr !important;
}

/* bootstrap-select */

.bootstrap-select .dropdown-toggle::after {
  float: left;
  margin-top: 0.6em;
  vertical-align: 0.1em;
}

.bootstrap-select .dropdown-toggle .filter-option {
  text-align: right !important;
}

.bootstrap-select .dropdown-toggle .filter-option-inner {
  padding-right: 0 !important;
}

/* for menu */
.bootstrap-select .dropdown-menu .inner .dropdown-menu {
  text-align: right !important;
}

.bootstrap-select,
.bootstrap-select .dropdown-menu {
  width: 100% !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
}

.bootstrap-select > .dropdown-toggle:hover {
  background-color: inherit !important;
}

/* swiper */
.swiper {
  width: 100%;
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}
.swiper-button-prev-sm::after,
.swiper-button-next-sm::after {
  font-size: 1rem !important;
}

.swiper-button-next-sm,
.swiper-rtl .swiper-button-next-sm {
  left: auto !important;
  right: -65px !important;
}

.swiper-button-prev-sm,
.swiper-rtl .swiper-button-prev-sm {
  right: auto !important;
  left: 0 !important;
}

.swiper-button-next-sm,
.swiper-rtl .swiper-button-next-sm,
.swiper-button-prev-sm,
.swiper-rtl .swiper-button-prev-sm {
  width: 30px !important;
  height: 30px !important;
}

/* tiny slider */
.product .tns-item img {
  width: 100%;
}

.product-tools .thumbnails {
  text-align: center;
}
.product-tools img {
  max-width: 100%;
}
.thumbnails-img.active {
  border: 2px solid var(--color-primary);
}

/* zoom */
.img-zoom {
  overflow: hidden;
}

.img-zoom img {
  transition: transform 0.5s ease;
}

.img-zoom img:hover {
  transform: scale(1.1);
}

div.zoom {
  background-position: 50% 50%;

  cursor: zoom-in;
  overflow: hidden;
  position: relative;
  width: 100%;
}

div.zoom img:hover {
  opacity: 0;
}

div.zoom img {
  display: block;
  transition: opacity 0.5s;
  width: 100%;
}
