/* reveal footer */
/* main */

/* main {
  min-height: 65vh !important;
  position: relative !important;
  z-index: 1 !important;
  background-color: white !important;
}

/* footer */
/* footer {
  position: sticky !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100% !important;
  background-color: red !important;
}  */
