/* variables */
:root {
  /* colors */
  --dj6-color-primary-hsl: 250, 84%, 54%;
  --dj6-color-bg-hsl: 0, 0%, 100%;
  --dj6-color-contrast-high-hsl: 230, 7%, 23%;
  --dj6-color-contrast-higher-hsl: 230, 13%, 9%;
  --dj6-color-contrast-lower-hsl: 240, 4%, 85%;
  --dj6-color-bg-dark-hsl: 240, 4%, 95%;
  --dj6-color-white-hsl: 0, 0%, 100%;
  --dj6-color-primary-darker-hsl: 250, 84%, 38%;
  --dj6-color-primary-light-hsl: 250, 84%, 60%;
  --dj6-color-accent-hsl: 342, 89%, 48%;

  /* spacing */
  --dj6-space-2xs: 0.375rem;
  --dj6-space-sm: 0.75rem;
  --dj6-space-md: 1.25rem;
  --dj6-space-2xl: 5.25rem;
  --dj6-space-xs: 0.5rem;

  /* typography */
  --dj6-text-sm: 0.833rem;
  --dj6-text-sm: 0.833rem;
}

@media (min-width: 64rem) {
  :root {
    /* spacing */
    --dj6-space-2xs: 0.5625rem;
    --dj6-space-sm: 1.125rem;
    --dj6-space-md: 2rem;
    --dj6-space-2xl: 8.25rem;
    --dj6-space-xs: 0.75rem;

    /* typography */
    --dj6-text-sm: 1rem;
    --dj6-text-sm: 1rem;
  }
}

/* buttons */
.dj6-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  white-space: nowrap;
  text-decoration: none;
  background: hsl(var(--dj6-color-bg-dark-hsl));
  color: hsl(var(--dj6-color-contrast-higher-hsl));
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease;
  will-change: transform;
  padding: var(--dj6-space-2xs) var(--dj6-space-sm);
  border-radius: 0.25em;
}

.dj6-btn:focus-visible {
  box-shadow: 0px 0px 0px 2px hsl(var(--dj6-color-bg-hsl)),
    0px 0px 0px 4px hsla(var(--dj6-color-contrast-higher-hsl), 0.15);
  outline: none;
}

.dj6-btn:active {
  transform: translateY(2px);
}

.dj6-btn--primary {
  background: hsl(var(--dj6-color-primary-hsl));
  color: hsl(var(--dj6-color-white-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--dj6-color-white-hsl), 0.15),
    0px 1px 3px hsla(var(--dj6-color-primary-darker-hsl), 0.25),
    0px 2px 6px hsla(var(--dj6-color-primary-darker-hsl), 0.1),
    0px 6px 10px -2px hsla(var(--dj6-color-primary-darker-hsl), 0.25);
}

.dj6-btn--primary:hover {
  background: hsl(var(--dj6-color-primary-light-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--dj6-color-white-hsl), 0.15),
    0px 1px 2px hsla(var(--dj6-color-primary-darker-hsl), 0.25),
    0px 1px 4px hsla(var(--dj6-color-primary-darker-hsl), 0.1),
    0px 3px 6px -2px hsla(var(--dj6-color-primary-darker-hsl), 0.25);
}

.dj6-btn--primary:focus {
  box-shadow: inset 0px 1px 0px hsla(var(--dj6-color-white-hsl), 0.15),
    0px 1px 2px hsla(var(--dj6-color-primary-darker-hsl), 0.25),
    0px 1px 4px hsla(var(--dj6-color-primary-darker-hsl), 0.1),
    0px 3px 6px -2px hsla(var(--dj6-color-primary-darker-hsl), 0.25),
    0px 0px 0px 2px hsl(var(--dj6-color-bg-hsl)),
    0px 0px 0px 4px hsl(var(--dj6-color-primary-hsl));
}

/* component */
:root {
  --diagonal-section-offset: 50px;
}

.diagonal-section,
.diagonal-section-top,
.diagonal-section-bottom {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@supports ((-webkit-clip-path: inset(50%)) or (clip-path: inset(50%))) {
  .diagonal-section,
  .diagonal-section-top.diagonal-section-bottom {
    padding-top: calc(var(--diagonal-section-offset) / 2);
    padding-bottom: calc(var(--diagonal-section-offset) / 2);
    -webkit-clip-path: polygon(
      0% 0%,
      100% var(--diagonal-section-offset),
      100% 100%,
      0% calc(100% - var(--diagonal-section-offset))
    );
    clip-path: polygon(
      0% 0%,
      100% var(--diagonal-section-offset),
      100% 100%,
      0% calc(100% - var(--diagonal-section-offset))
    );
  }

  .diagonal-section--flip-x {
    -webkit-clip-path: polygon(
      0% var(--diagonal-section-offset),
      100% 0%,
      100% calc(100% - var(--diagonal-section-offset)),
      0% 100%
    );
    clip-path: polygon(
      0% var(--diagonal-section-offset),
      100% 0%,
      100% calc(100% - var(--diagonal-section-offset)),
      0% 100%
    );
  }

  .diagonal-section-top {
    padding-top: calc(var(--diagonal-section-offset) / 2);
    -webkit-clip-path: polygon(
      0% 0%,
      100% var(--diagonal-section-offset),
      100% 100%,
      0% 100%
    );
    clip-path: polygon(
      0% 0%,
      100% var(--diagonal-section-offset),
      100% 100%,
      0% 100%
    );
  }

  .diagonal-section-top--flip-x {
    -webkit-clip-path: polygon(
      0% var(--diagonal-section-offset),
      100% 0%,
      100% 100%,
      0% 100%
    );
    clip-path: polygon(
      0% var(--diagonal-section-offset),
      100% 0%,
      100% 100%,
      0% 100%
    );
  }
  .diagonal-section-top--flip-x.diagonal-section-bottom {
    -webkit-clip-path: polygon(
      0% var(--diagonal-section-offset),
      100% 0%,
      100% 100%,
      0% calc(100% - var(--diagonal-section-offset))
    );
    clip-path: polygon(
      0% var(--diagonal-section-offset),
      100% 0%,
      100% 100%,
      0% calc(100% - var(--diagonal-section-offset))
    );
  }

  .diagonal-section-bottom {
    padding-bottom: calc(var(--diagonal-section-offset) / 2);
    -webkit-clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% calc(100% - var(--diagonal-section-offset))
    );
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% calc(100% - var(--diagonal-section-offset))
    );
  }

  .diagonal-section-bottom--flip-x {
    -webkit-clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(100% - var(--diagonal-section-offset)),
      0% 100%
    );
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(100% - var(--diagonal-section-offset)),
      0% 100%
    );
  }
  .diagonal-section-bottom--flip-x.diagonal-section-top {
    -webkit-clip-path: polygon(
      0% 0%,
      100% var(--diagonal-section-offset),
      100% calc(100% - var(--diagonal-section-offset)),
      0% 100%
    );
    clip-path: polygon(
      0% 0%,
      100% var(--diagonal-section-offset),
      100% calc(100% - var(--diagonal-section-offset)),
      0% 100%
    );
  }

  .diagonal-section-top--flip-x.diagonal-section-bottom--flip-x {
    -webkit-clip-path: polygon(
      0% var(--diagonal-section-offset),
      100% 0%,
      100% calc(100% - var(--diagonal-section-offset)),
      0% 100%
    );
    clip-path: polygon(
      0% var(--diagonal-section-offset),
      100% 0%,
      100% calc(100% - var(--diagonal-section-offset)),
      0% 100%
    );
  }
}

/* utility classes */
.dj6-color-inherit {
  color: inherit;
}

.dj6-gap-sm {
  gap: var(--dj6-space-sm);
}

.dj6-flex-center {
  justify-content: center;
  align-items: center;
}

.dj6-flex-wrap {
  flex-wrap: wrap;
}

.dj6-flex {
  display: flex;
}

.dj6-margin-bottom-sm {
  margin-bottom: var(--dj6-space-sm);
}

.dj6-text-component :where(h1, h2, h3, h4) {
  line-height: var(--dj6-heading-line-height, 1.2);
  margin-top: calc(var(--dj6-space-md) * var(--dj6-space-multiplier, 1));
  margin-bottom: calc(var(--dj6-space-sm) * var(--dj6-space-multiplier, 1));
}

.dj6-text-component :where(p, blockquote, ul li, ol li) {
  line-height: var(--dj6-body-line-height, 1.4);
}

.dj6-text-component :where(ul, ol, p, blockquote, .dj6-text-component__block) {
  margin-bottom: calc(var(--dj6-space-sm) * var(--dj6-space-multiplier, 1));
}

.dj6-text-component :where(ul, ol) {
  padding-left: 1.25em;
}

.dj6-text-component ul :where(ul, ol),
.dj6-text-component ol :where(ul, ol) {
  padding-left: 1em;
  margin-bottom: 0;
}

.dj6-text-component ul {
  list-style-type: disc;
}

.dj6-text-component ol {
  list-style-type: decimal;
}

.dj6-text-component img {
  display: block;
  margin: 0 auto;
}

.dj6-text-component figcaption {
  margin-top: calc(var(--dj6-space-xs) * var(--dj6-space-multiplier, 1));
  font-size: var(--dj6-text-sm);
  text-align: center;
}

.dj6-text-component em {
  font-style: italic;
}

.dj6-text-component strong {
  font-weight: bold;
}

.dj6-text-component s {
  text-decoration: line-through;
}

.dj6-text-component u {
  text-decoration: underline;
}

.dj6-text-component mark {
  background-color: hsla(var(--dj6-color-accent-hsl), 0.2);
  color: inherit;
}

.dj6-text-component blockquote {
  padding-left: 1em;
  border-left: 4px solid hsl(var(--dj6-color-contrast-lower-hsl));
  font-style: italic;
}

.dj6-text-component hr {
  margin: calc(var(--dj6-space-md) * var(--dj6-space-multiplier, 1)) auto;
  background: hsl(var(--dj6-color-contrast-lower-hsl));
  height: 1px;
}

.dj6-text-component > *:first-child {
  margin-top: 0;
}

.dj6-text-component > *:last-child {
  margin-bottom: 0;
}

.dj6-text-component.dj6-line-height-xs {
  --dj6-heading-line-height: 1;
  --dj6-body-line-height: 1.1;
}

.dj6-text-component.dj6-line-height-sm {
  --dj6-heading-line-height: 1.1;
  --dj6-body-line-height: 1.2;
}

.dj6-text-component.dj6-line-height-md {
  --dj6-heading-line-height: 1.15;
  --dj6-body-line-height: 1.4;
}

.dj6-text-component.dj6-line-height-lg {
  --dj6-heading-line-height: 1.22;
  --dj6-body-line-height: 1.58;
}

.dj6-text-component.dj6-line-height-xl {
  --dj6-heading-line-height: 1.3;
  --dj6-body-line-height: 1.72;
}

.dj6-margin-bottom-2xs {
  margin-bottom: var(--dj6-space-2xs);
}

.dj6-opacity-60\% {
  opacity: 0.6;
}

.dj6-text-sm {
  font-size: var(--dj6-text-sm);
}

.dj6-text-center {
  text-align: center;
}

.dj6-padding-y-2xl {
  padding-top: var(--dj6-space-2xl);
  padding-bottom: var(--dj6-space-2xl);
}

.dj6-max-width-adaptive-sm {
  max-width: 32rem;
}

@media (min-width: 48rem) {
  .dj6-max-width-adaptive-sm {
    max-width: 48rem;
  }
}

.dj6-container {
  width: calc(100% - 2 * var(--dj6-space-md));
  margin-left: auto;
  margin-right: auto;
}

.dj6-bg-contrast-lower {
  --dj6-bg-o: 1;
  background-color: hsla(
    var(--dj6-color-contrast-lower-hsl),
    var(--dj6-bg-o, 1)
  );
}

.dj6-bg-opacity-50\% {
  --dj6-bg-o: 0.5;
}
