.swiper {
  width: 100%;
  height: auto;
}

/* .swiper-slide {

}
.swiper-slide img {

} */

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}
.swiper-button-prev-sm::after,
.swiper-button-next-sm::after {
  font-size: 1rem !important;
}

.swiper-button-next-sm,
.swiper-rtl .swiper-button-next-sm {
  left: auto !important;
  right: -65px !important;
}

.swiper-button-prev-sm,
.swiper-rtl .swiper-button-prev-sm {
  right: auto !important;
  left: 0 !important;
}

.swiper-button-next-sm,
.swiper-rtl .swiper-button-next-sm,
.swiper-button-prev-sm,
.swiper-rtl .swiper-button-prev-sm {
  width: 30px !important;
  height: 30px !important;
}
