/* triangle component */
:root {
  --triangle-section-offset: 50px;
}

.triangle-section,
.triangle-section-top,
.triangle-section-bottom {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@supports ((-webkit-clip-path: inset(50%)) or (clip-path: inset(50%))) {
  .triangle-section,
  .triangle-section-top.triangle-section-bottom {
    padding-top: calc(var(--triangle-section-offset) / 2);
    padding-bottom: calc(var(--triangle-section-offset) / 2);
    -webkit-clip-path: polygon(
      0% 0%,
      100% var(--triangle-section-offset),
      100% 100%,
      0% calc(100% - var(--triangle-section-offset))
    );
    clip-path: polygon(
      0% 0%,
      100% var(--triangle-section-offset),
      100% 100%,
      0% calc(100% - var(--triangle-section-offset))
    );
  }

  .triangle-section--flip-x {
    -webkit-clip-path: polygon(
      0% var(--triangle-section-offset),
      100% 0%,
      100% calc(100% - var(--triangle-section-offset)),
      0% 100%
    );
    clip-path: polygon(
      0% var(--triangle-section-offset),
      100% 0%,
      100% calc(100% - var(--triangle-section-offset)),
      0% 100%
    );
  }

  .triangle-section-top {
    padding-top: calc(var(--triangle-section-offset) / 2);
    -webkit-clip-path: polygon(
      0% 0%,
      100% var(--triangle-section-offset),
      100% 100%,
      0% 100%
    );
    clip-path: polygon(
      0% 0%,
      100% var(--triangle-section-offset),
      100% 100%,
      0% 100%
    );
  }

  .triangle-section-top--flip-x {
    -webkit-clip-path: polygon(
      0% var(--triangle-section-offset),
      100% 0%,
      100% 100%,
      0% 100%
    );
    clip-path: polygon(
      0% var(--triangle-section-offset),
      100% 0%,
      100% 100%,
      0% 100%
    );
  }
  .triangle-section-top--flip-x.triangle-section-bottom {
    -webkit-clip-path: polygon(
      0% var(--triangle-section-offset),
      100% 0%,
      100% 100%,
      0% calc(100% - var(--triangle-section-offset))
    );
    clip-path: polygon(
      0% var(--triangle-section-offset),
      100% 0%,
      100% 100%,
      0% calc(100% - var(--triangle-section-offset))
    );
  }

  .triangle-section-bottom {
    padding-bottom: calc(var(--triangle-section-offset) / 2);
    -webkit-clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% calc(100% - var(--triangle-section-offset))
    );
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% calc(100% - var(--triangle-section-offset))
    );
  }

  .triangle-section-bottom--flip-x {
    -webkit-clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(100% - var(--triangle-section-offset)),
      0% 100%
    );
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(100% - var(--triangle-section-offset)),
      0% 100%
    );
  }
  .triangle-section-bottom--flip-x.triangle-section-top {
    -webkit-clip-path: polygon(
      0% 0%,
      100% var(--triangle-section-offset),
      100% calc(100% - var(--triangle-section-offset)),
      0% 100%
    );
    clip-path: polygon(
      0% 0%,
      100% var(--triangle-section-offset),
      100% calc(100% - var(--triangle-section-offset)),
      0% 100%
    );
  }

  .triangle-section-top--flip-x.triangle-section-bottom--flip-x {
    -webkit-clip-path: polygon(
      0% var(--triangle-section-offset),
      100% 0%,
      100% calc(100% - var(--triangle-section-offset)),
      0% 100%
    );
    clip-path: polygon(
      0% var(--triangle-section-offset),
      100% 0%,
      100% calc(100% - var(--triangle-section-offset)),
      0% 100%
    );
  }
}
