<!-- Footer -->
<footer class="triangle-section triangle-section-top--flip-x bg-primary text-white" role="footer">

    <div class="container pt-5">
        
        <!-- Footer Row -->
        <div class="row py-5 mt-5">
          
          <!-- Footer Column  -->
          <div class="col-2  mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
               <img src="assets/img/store-logo.png" alt="" width="100" class="filter-white">
            </a>
          </div>

          <!-- Footer Column  -->
          <div class="col-4  mb-3">
            <h5>روابط مهمة</h5>
            <p class="mb-4 text-dark">
                متجر افتراضي للتجربة والتعلم لمنصة Zid Store للتجارة الإلكترونية والتسويق الإلكتروني والتسويق عبر الإنترنت  والتسويق عبر الهواتف الذكية   
            </p>
          </div>
          <div class="col-2  mb-3"></div>
          
          <!-- Footer Column  -->
          <div class="col mb-3">
            <h5>تابعنا على</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">الرئيسية</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">المنتجات</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">المدونة</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">المتاجر</a></li>
            </ul>
          </div>
      
           <!-- Footer Column  -->
          <div class="col  mb-3">
            <h5>روابط مهمة</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">الرئيسية</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">المنتجات</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">المدونة</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">المتاجر</a></li>
            </ul>
          </div>
        </div>
        <!-- End of Footer Row -->

        <!-- Sep -->
        <hr>

        <!-- FooteNotes -->
        <div class="d-flex flex-wrap justify-content-between align-items-center pb-0">
            <p class="col-md-4 mb-0">© 2022 صنع بواسطة زد </p>
        
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src="media/intro/logo.svg" alt="" width="40">
            </a>
        
            <ul class="nav d-flex align-content-center justify-content-center my-3 p-4">
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                    <i class="iconoir-twitter iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-instagram iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-facebook iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <!-- <li class="mx-2">
                <a class="" href="#" title="">
                  <i class="iconoir-snapchat iconoir-md"></i>
                </a>
              </li> -->
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-tiktok iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-phone iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-mail-opened iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-globe iconoir-md"></i>
                </a>
              </li>
            </ul>
        </div>
         <!-- End of FooteNotes -->

    </div>

</footer>
<!-- End of Footer -->