<!-- Footer -->
<footer class="triangle-section triangle-section-top--flip-x bg-primary text-white position-relative" role="footer">

    <div class="container pt-5">
        
        <!-- Footer Row -->
        <div class="row py-5 mt-5">
          
          <!-- Footer Column  -->
          <div class="col-2 mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
               <img src="assets/img/store-logo.png" alt="" width="100" class="filter-white">
            </a>
          </div>

          <!-- Footer Column  -->
          <div class="col-4 mb-3">
            <h5 class="text-yellow"> عن المتجر التجريبي</h5>
            <p class="mb-4 text-white">
                متجر افتراضي للتجربة والتعلم لمنصة Zid Store للتجارة الإلكترونية والتسويق الإلكتروني والتسويق عبر الإنترنت  والتسويق عبر الهواتف الذكية   
            </p>
          </div>
          <div class="col-2 mb-3"></div>
          
          <!-- Footer Column  -->
          <div class="col mb-3">
            <h5 class="text-yellow">تابعنا على</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">الرئيسية</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">المنتجات</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">المدونة</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">المتاجر</a></li>
            </ul>
          </div>
      
           <!-- Footer Column  -->
          <div class="col mb-3">
            <h5 class="text-yellow">روابط مهمة</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0">الرئيسية</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">المنتجات</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">المدونة</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">المتاجر</a></li>
            </ul>
          </div>
        </div>
        <!-- End of Footer Row -->

        <!-- Sep -->
        <hr>

        <!-- FooteNotes -->
        <div class="d-flex flex-wrap justify-content-between align-items-center pb-0">
            <p class="col-md-4 mb-0">© 2022 صنع بواسطة زد </p>
        
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src="media/intro/logo.svg" alt="" width="40">
            </a>
        
            <ul class="nav d-flex align-content-center justify-content-center my-3 p-4">
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                    <i class="iconoir-twitter iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-instagram iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-facebook iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <!-- <li class="mx-2">
                <a class="" href="#" title="">
                  <i class="iconoir-snapchat iconoir-md"></i>
                </a>
              </li> -->
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-tiktok iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-phone iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-mail-opened iconoir-md"></i>
                </a>
              </li>
              <li class="mx-2 hstack" hidden>
                <div class="vr"></div>
              </li>
              <li class="mx-2">
                <a class="link-dark grow" href="#" title="">
                  <i class="iconoir-globe iconoir-md"></i>
                </a>
              </li>
            </ul>
        </div>
         <!-- End of FooteNotes -->

    </div>



    <figure class="bg-decorator bj3-z-index-1" aria-hidden="true">
      <svg class="bg-decorator__svg bj3-color-contrast-higher bj3-opacity-40%" viewBox="0 0 1920 450" fill="none">

        <rect opacity="0.5" x="1866.13" y="-453" width="128" height="836.003" transform="rotate(46.8712 1866.13 -453)"
          fill="url(#bg-decorator-v1-fx-5-linear-5)" />
        <rect opacity="0.5" x="800.131" y="-418" width="128" height="836.003" transform="rotate(46.8712 800.131 -418)"
          fill="url(#bg-decorator-v1-fx-5-linear-5)" />
        <rect opacity="0.5" x="436.448" y="-251" width="76.1734" height="340.424" transform="rotate(46.8712 436.448 -251)"
          fill="url(#bg-decorator-v1-fx-5-linear-7)" />
        <defs>
          <linearGradient id="bg-decorator-v1-fx-5-linear-1" x1="674.131" y1="-440" x2="674.131" y2="396.003"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-2" x1="1963.13" y1="-262" x2="1963.13" y2="574.003"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-3" x1="2140.13" y1="-321" x2="2140.13" y2="515.003"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-4" x1="1358.5" y1="40.3308" x2="1358.5" y2="876.334"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-5" x1="1930.13" y1="-453" x2="1930.13" y2="383.003"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-5" x1="864.131" y1="-418" x2="864.131" y2="418.003"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-7" x1="474.534" y1="-251" x2="474.534" y2="89.4236"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" stop-opacity="0" />
            <stop offset="1" stop-color="currentColor" />
          </linearGradient>
        </defs>
      </svg>
    </figure>
</footer>
<!-- End of Footer -->