<!-- Footer -->
<footer class="triangle-section triangle-section-top--flip-x bg-primary text-white position-relative" role="footer">

    <div class="container pt-5">
        
        <!-- Footer Row -->
        <div class="row py-5 mt-5">
          
          <!-- Footer Column  -->
          <div class="col-2 mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
               <img src="assets/img/store-logo.png" alt="" width="100" class="filter-white">
            </a>
          </div>

          <!-- Footer Column  -->
          <div class="col-4 mb-3">
            <h6 class="text-yellow fw-bold"> عن المتجر التجريبي</h6>
            <p class="mb-4 text-white mt-3 w-75">
              <small>
                متجر افتراضي للتجربة والتعلم لمنصة Zid Store للتجارة الإلكترونية والتسويق الإلكتروني والتسويق عبر الإنترنت  والتسويق عبر الهواتف الذكية   
               </small>
            </p>
          </div>

          
          <!-- Footer Column  -->
          <div class="col mb-3">
            <h6 class="text-yellow fw-bold"> قائمة التصفح</h6>
            <ul class="nav flex-column mt-3">
              <li class="nav-item mb-1"><a href="#" class="nav-link p-0"><small>الرئيسية</small></a></li>
                  
              <li class="nav-item mb-1"><a href="#" class="nav-link p-0"><small>التصانيف</small></a></li>
              <li class="nav-item mb-1"><a href="#" class="nav-link p-0"><small>
                سلة التسوق
                <span class="px-2"><i data-feather="arrow-left" class="feather-xs"></i></span>
              </small></a></li>
              <li class="nav-item mb-1"><a href="#" class="nav-link p-0"><small>
                
               
                
                الدخول للحساب</small></a></li>

              <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><small></small></a></li> -->

            </ul>
          </div>
      
           <!-- Footer Column  -->
           <div class="col mb-3">
            <h6 class="text-yellow fw-bold"> روابط مهمة</h6>
            <ul class="nav flex-column mt-3">
              <li class="nav-item mb-1"><a href="#" class="nav-link p-0"><small>سياسات الاستبدال و الاسترجاع</small></a></li>
                  
              <li class="nav-item mb-1"><a href="#" class="nav-link p-0"><small>خيارات الدفع والتوصيل</small></a></li>
              <li class="nav-item mb-1"><a href="#" class="nav-link p-0"><small>سياسة الخصوصية</small></a></li>
              <li class="nav-item mb-1"><a href="#" class="nav-link p-0"><small>الشكاوى و اﻹقتراحات</small></a></li>
              <li class="nav-item mb-1"><a href="#" class="nav-link p-0"><small>صفحة تجريبية</small></a></li>
 
                <li class="nav-item mb-1"><a href="#" class="nav-link p-0"><small>الشروط والأحكام</small></a></li>
               
                  <li class="nav-item mb-1"><a href="#" class="nav-link p-0"><small>التراخيص</small></a></li>
            </ul>
          </div>

          <div class="col-2 mb-3">
            <h6 class="text-yellow fw-bold"> خيارات اللغة</h6>
            <ul class="nav flex-column mt-3">
             
              <li class="nav-item mb-1"><a href="#" class="btn btn-sm btn-warning text-white border ltr"><small>

                <span class="px-2"><i class="iconoir-translate"></i></span> English
              </small></a></li>
              <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><small></small></a></li> -->

            </ul>
          </div>

        <!-- End of Footer Row -->

        <!-- Sep -->
        <!-- <hr> -->

    </div>



    <figure class="bg-decorator bj3-z-index-1" aria-hidden="true">
      <svg class="bg-decorator__svg bj3-color-contrast-higher bj3-opacity-40%" viewBox="0 0 1920 450" fill="none">

        <rect opacity="0.5" x="1866.13" y="-453" width="128" height="836.003" transform="rotate(46.8712 1866.13 -453)"
          fill="url(#bg-decorator-v1-fx-5-linear-5)" />
        <rect opacity="0.5" x="800.131" y="-418" width="128" height="836.003" transform="rotate(46.8712 800.131 -418)"
          fill="url(#bg-decorator-v1-fx-5-linear-5)" />
        <rect opacity="0.5" x="436.448" y="-251" width="76.1734" height="340.424" transform="rotate(46.8712 436.448 -251)"
          fill="url(#bg-decorator-v1-fx-5-linear-7)" />
        <defs>
          <linearGradient id="bg-decorator-v1-fx-5-linear-1" x1="674.131" y1="-440" x2="674.131" y2="396.003"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-2" x1="1963.13" y1="-262" x2="1963.13" y2="574.003"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-3" x1="2140.13" y1="-321" x2="2140.13" y2="515.003"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-4" x1="1358.5" y1="40.3308" x2="1358.5" y2="876.334"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-5" x1="1930.13" y1="-453" x2="1930.13" y2="383.003"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-5" x1="864.131" y1="-418" x2="864.131" y2="418.003"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" />
            <stop offset="1" stop-color="currentColor" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="bg-decorator-v1-fx-5-linear-7" x1="474.534" y1="-251" x2="474.534" y2="89.4236"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="currentColor" stop-opacity="0" />
            <stop offset="1" stop-color="currentColor" />
          </linearGradient>
        </defs>
      </svg>
    </figure>
</footer>
<!-- End of Footer -->



        <!-- FooteNote -->
        <section class="bg-primary-dark py-3" hidden role="footenote">
        <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <p class="col-md-4 mb-0 border">
            © 2022 صنع بواسطة زد 
            <span class=""><img src="media/footenote/zid.svg" alt="" width="24" height="24" class="bg-dark d-inline-block rounded-pill p-1"></span>
          </p>

          <div class="border col-md-4 d-flex align-items-center justify-content-center">
            <ul class="nav d-flex align-content-center justify-content-center border">
              <li class="mx-2">
                <a class="text-white grow" href="#" title="">
                    <img src="media/footenote/apple-pay.svg" alt="" width="24">
                </a>
              </li>
              <li class="mx-2">
                <a class="text-white grow" href="#" title="">
                    <img src="media/footenote/apple-pay.svg" alt="" width="24">
                </a>
              </li>
              <li class="mx-2">
                <a class="text-white grow" href="#" title="">
                    <img src="media/footenote/apple-pay.svg" alt="" width="24">
                </a>
              </li>

            </ul>
          </div>
      
          <!-- <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
              <img src="media/intro/logo-white.svg" alt="" width="40">
          </a> -->
      
          <ul class="nav d-flex align-content-center justify-content-center border">
            <li class="mx-2">
              <a class="text-white grow" href="#" title="">
                  <i class="iconoir-twitter iconoir-md"></i>
              </a>
            </li>
            <li class="mx-2 hstack" hidden>
              <div class="vr"></div>
            </li>
            <li class="mx-2">
              <a class="text-white grow" href="#" title="">
                <i class="iconoir-instagram iconoir-md"></i>
              </a>
            </li>
            <li class="mx-2 hstack" hidden>
              <div class="vr"></div>
            </li>
            <li class="mx-2">
              <a class="text-white grow" href="#" title="">
                <i class="iconoir-facebook iconoir-md"></i>
              </a>
            </li>
            <li class="mx-2 hstack" hidden>
              <div class="vr"></div>
            </li>
            <li class="mx-2">
              <a class="text-white grow" href="#" title="">
                  <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path fill="bg-primary" d="M0 0h24v24H0z"></path><path d="M18 8.75c0-9-12-9-12 0v1.5H4.372c-.583 0-.823.749-.348 1.088L6 12.75c-.333 1.167-1.7 3.7-4.5 4.5.333.5 1.3 1.5 2.5 1.5l1 1.5 2.5-.5c.833.667 2.9 2 4.5 2s3.667-1.333 4.5-2l2.5.5 1-1.5c1.2 0 2.167-1 2.5-1.5-2.8-.8-4.167-3.333-4.5-4.5l1.976-1.412c.475-.339.235-1.088-.348-1.088H18v-1.5z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              </a>
            </li>
            <li class="mx-2">
              <a class="text-white grow" href="#" title="">
                <i class="iconoir-tiktok iconoir-md"></i>
              </a>
            </li>
            <li class="mx-2 hstack" hidden>
              <div class="vr"></div>
            </li>
            <li class="mx-2">
              <a class="text-white grow" href="#" title="">
                <i class="iconoir-phone iconoir-md"></i>
              </a>
            </li>
            <li class="mx-2 hstack" hidden>
              <div class="vr"></div>
            </li>
            <li class="mx-2">
              <a class="text-white grow" href="#" title="">
                <i class="iconoir-mail-opened iconoir-md"></i>
              </a>
            </li>
            <li class="mx-2 hstack" hidden>
              <div class="vr"></div>
            </li>
            <li class="mx-2">
              <a class="text-white grow" href="#" title="">
                <i class="iconoir-globe iconoir-md"></i>
              </a>
            </li>
          </ul>
      </div>
    </div>
       <!-- End of FooteNote -->