<!-- Intro -->
<section class="@bg-overlay p-5 text-center" role="intro">
  <div class="container d-flex flex-column align-content-center">

    <!-- Logo of the Store or an Image -->
    <img class="d-block mx-auto mb-4" src="media/intro/logo.svg" alt="" width="60">

    <!-- Store Title -->
    <h1 class="display-6 fw-bold my-4">
      متجر افتراضي
    </h1>

    <div class="col-lg-6 mx-auto">
      
      <!-- Store Desc -->
      <p class="lead mb-3">
        متجر افتراضي للتجربة والتعلم لمنصة Zid Store للتجارة الإلكترونية والتسويق الإلكتروني والتسويق عبر الإنترنت  والتسويق عبر الهواتف الذكية   
      </p>

       <!-- Social Icons -->
      <ul class="nav d-flex align-content-center justify-content-center my-3 p-4">
        <li class="mx-2">
          <a class="link-dark link-effect" href="#" title="">
              <i class="iconoir-twitter iconoir-md"></i>
          </a>
        </li>
        <li class="mx-2 hstack" hidden>
          <div class="vr"></div>
        </li>
        <li class="mx-2">
          <a class="link-dark" href="#" title="">
            <i class="iconoir-instagram iconoir-md"></i>
          </a>
        </li>
        <li class="mx-2 hstack" hidden>
          <div class="vr"></div>
        </li>
        <li class="mx-2">
          <a class="link-dark" href="#" title="">
            <i class="iconoir-facebook iconoir-md"></i>
          </a>
        </li>
        <li class="mx-2 hstack" hidden>
          <div class="vr"></div>
        </li>
        <!-- <li class="mx-2">
          <a class="" href="#" title="">
            <i class="iconoir-snapchat iconoir-md"></i>
          </a>
        </li> -->
        <li class="mx-2">
          <a class="link-dark" href="#" title="">
            <i class="iconoir-tiktok iconoir-md"></i>
          </a>
        </li>
        <li class="mx-2 hstack" hidden>
          <div class="vr"></div>
        </li>
        <li class="mx-2">
          <a class="link-dark" href="#" title="">
            <i class="iconoir-phone iconoir-md"></i>
          </a>
        </li>
        <li class="mx-2 hstack" hidden>
          <div class="vr"></div>
        </li>
        <li class="mx-2">
          <a class="link-dark" href="#" title="">
            <i class="iconoir-mail-opened iconoir-md"></i>
          </a>
        </li>
        <li class="mx-2 hstack" hidden>
          <div class="vr"></div>
        </li>
        <li class="mx-2">
          <a class="link-dark" href="#" title="">
            <i class="iconoir-globe iconoir-md"></i>
          </a>
        </li>
      </ul>

      <!-- Options & Links -->
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary btn-lg px-4 gap-3" href="#" title="">
         إستعرض الآن <span class="px-2"><i data-feather="arrow-left" class="feather-xs"></i></span>
        </a>
        <!-- <a class="btn btn-primary btn-lg px-4 gap-3" href="#" title="">
          <span class="px-2"><i data-feather="shopping-cart" class="feather-xs"></i></span> سلة التسوق
        </a> -->
      </div>

    </div>
  </div>
</section>
<!-- End of Intro -->