<!-- Intro -->
<section class="bg-primary px-4 py-5 my-5 text-center" role="intro">
  <div class="container">

    <!-- Logo of the Store or an Image -->
    <img class="d-block mx-auto mb-4" src="media/intro/logo.svg" alt="" width="60">

    <!-- Store Title -->
    <h1 class="display-5 fw-bold my-4">
      متجر افتراضي
    </h1>

    <div class="col-lg-6 mx-auto">
      
      <!-- Store Desc -->
      <p class="lead mb-4">
        متجر افتراضي للتجربة والتعلم لمنصة Zid Store للتجارة الإلكترونية والتسويق الإلكتروني والتسويق عبر الإنترنت  والتسويق عبر الهواتف الذكية   
      </p>

      <!-- Options & Links -->
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary btn-lg px-4 gap-3" href="#" title="">
         إستعرض الآن <span class="px-2"><i data-feather="arrow-left" class="feather-xs"></i></span>
        </a>
        <a class="btn btn-primary btn-lg px-4 gap-3" href="#" title="">
          سلة التسوق <span class="px-2"><i data-feather="arrow-left" class="feather-xs"></i></span>
        </a>
      </div>

    </div>
  </div>
</section>
<!-- End of Intro -->