<!-- Main Navigation -->
<section class="d-flex justify-content-between py-3 bg-floor-dark" role="main-navigation">
  <div class="container-fluid">

    <!-- Navigation Items -->
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" title="">
          الرئيسية
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="">
          المنتجات
        </a>
      </li>
    
      <!-- e.g: Item with Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link @dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" title="">
          النساء <i data-feather="chevron-down" class="feather-xs"></i>
        </a>
        <ul class="dropdown-menu shadow-lg border-0 rounded-0">
          <li><a class="dropdown-item py-2" href="#" title="">جاكيط ومعاطف نسائي</a></li>
          <li><a class="dropdown-item py-2" href="#" title="">بلايز نسائي</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item py-2" href="#" title="">تصفح الكل</a></li>
        </ul>
      </li>

      <!-- e.g: Item with Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link @dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" title="">
          الرجال <i data-feather="chevron-down" class="feather-xs"></i>
        </a>
        <ul class="dropdown-menu shadow-lg border-0 rounded-0">
          <li><a class="dropdown-item py-2" href="#" title="">جاكيت ومعاطف رجالي</a></li>
          <li><a class="dropdown-item py-2" href="#" title="">قمصان رجالي</a></li>
          <li><a class="dropdown-item py-2" href="#" title="">بناطيل رجالي</a></li>
          <li><a class="dropdown-item py-2" href="#" title="">كنزات رجالي</a></li>
          <li><a class="dropdown-item py-2" href="#" title="">سويت شريت رجالي</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item py-2" href="#" title="">تصفح الكل</a></li>
        </ul>
      </li>

      <!-- // ... more items -->
      <li class="nav-item">
        <a class="nav-link" href="#" title="">أحذية للجنسين</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="">أحذية للنساء</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="">شنط نسائي</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="">تصفح الكل <span class="px-0"><i data-feather="arrow-left" class="feather-xs"></i></span></a>
      </li>

    </ul>

    <!-- Link to Another Page -->
    <a href="" class="btn btn-dark rounded-0" title="">
        <span class="px-2"><i data-feather="truck" class="feather-xs"></i></span> خيارات الدفع والتوصيل
    </a>

  </div>
</section> 
<!-- End of Main Navigation -->