<!-- OffCanvas Cart -->
<div class="offcanvas offcanvas-start d-block d-lg-none" tabindex="-1" data-bs-scroll="true" id="offcanvasMenu"
    aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header bg-primary text-white border-0">
        <h5 class="offcanvas-title" id="offcanvasMenuLabel">
            قائمة التصفح
        </h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        <button type="button" class="btn btn-sm btn-outline-primary text-yellow" data-bs-dismiss="offcanvas"
            aria-label="Close">
            <i class="iconoir-cancel iconoir-md"></i>
        </button>
    </div>

    <!-- Sep -->

    <!-- Cart Content -->
    <div class="offcanvas-body p-0">
        <div>


            <div class="flex-shrink-0 p-3 bg-floor-dark">

                <ul class="list-unstyled ps-0 fs-5">


                    <li class="mb-1">
                        <a class="link-dark d-inline-flex text-decoration-none" href="./" title="">
                            <span class="px-2"><i class="iconoir-home iconoir-md"></i></span>
                            الرئيسية</a>
                    </li>
                    <li class="border-top my-3"></li>

                    <li class="mb-1">
                        <a class="link-dark d-inline-flex text-decoration-none" href="./" title="">
                            <span class="px-2"><i class="iconoir-open-in-browser iconoir-md"></i></span>
                            جميع التصانيف </a>
                    </li>
                    <li class="border-top my-3"></li>

                    <li class="mb-1">
                        <a class="link-dark d-inline-flex text-decoration-none" href="./" title="">

                            <span class="px-2"><i class="iconoir-arrow-left iconoir-md"></i></span>

                            خيارات الدفع
                            والتوصيل </a>
                    </li>
                </ul>
            </div>


            <div class="flex-shrink-0 p-3">

                <ul class="list-unstyled ps-0">


                    <li class="mb-1 d-flex justify-content-between">



                        <span> حسابي</span>


                        <a class="text-primary text-decoration-none" href="./" title="">
                            تسجيل الدخول
                        </a>

                    </li>

                    <li class="border-top my-3"></li>

                    <li class="mb-1 d-flex justify-content-between">

                        <span>
                            الشحن إلى </span>


                        <a class="text-primary text-decoration-none" href="./" title="">
                            السعودية
                        </a>
                    </li>
                    <li class="border-top my-3"></li>


                    <li class="mb-1 d-flex justify-content-between">

                        <span>تغيير اللغة</span>


                        <a class="text-primary text-decoration-none" href="./" title="">
                            English
                        </a>
                    </li>


                </ul>
            </div>

        </div>
    </div>

</div>
<!-- End of OffCanvas Cart -->