<!-- Partners -->
<section class="p-5 border-top" role="partners">
  <div class="container">


    <!-- Section Title -->
    <div class="d-flex mb-md-2 mb-3">
      <div class="flex-grow-1">
        <h4 class="pb-md-2 pt-2">
          <!-- <span class="px-2"><i class="iconoir-bookmark-circled"></i></span> -->
          الشركاء
        </h4>
      </div>
      <!-- <div class="flex-shrink-0">
        <a href="#" class="custom-link custom-link-7" title="">
          تصفح الكل <span class="px-2"><i data-feather="arrow-left" class="feather-xs"></i></span>
        </a>
      </div> -->
    </div>




    <!-- Products Inner -->
    <div class="position-relative">
      <div class="swiper partnersSwiper">
        <div class="swiper-wrapper">

          <?php for($i = 1; $i < 20; $i++)  { ?>

          <div class="swiper-slide p-3 rounded card border-0 h-100">

            <img src="media/partners/logo.jpg" alt="" class="img-fluid card-img-top">

          </div>

          <?php } ?>
        </div>


      </div>
      <hr class="mt-5 border-0">
      <div class="swiper-pagination swiper-pagination-sm"></div>
    </div>
    <!-- End of Products Inner -->

    <!-- Link to See All -->
    <div class="d-flex">
      <div class="flex-grow-1">
        <!-- Any data or summary here -->
      </div>
      <!-- <div class="flex-shrink-0">
            <a href="#" class="btn btn-primary" title=""> 
                تصفح الكل <span class="px-2"><i data-feather="arrow-left" class="feather-xs"></i></span>
            </a>
        </div> -->
      <!-- <div class="flex-shrink-0">
        <a href="#" class="custom-link custom-link-2" title="">
          تصفح الكل <span class="px-2"><i data-feather="arrow-left" class="feather-xs"></i></span>
        </a>
      </div> -->
    </div>

  </div>
</section>
<!-- End of Partners -->