<!-- Reviews -->
<section class="p-5" role="reviews">
    <div class="container">

        <!-- Section Title -->
        <h4 class="pb-2 border-bottom">
          <span class="px-2"><i class="iconoir-three-stars"></i></span> آراء عملائنا
        </h4>
    
        <!-- Reviews Inner -->
        <div class="row row-cols-1 row-cols-lg-4 g-4 py-5">

           <!-- Loop of Reviews -->
            <?php for($i = 1; $i < 9; $i++)  { ?>
            <div class="col">
      
              <div class="card shadow border-0 h-100 w-100 d-grid align-items-center p-3 rotate-perspective">
                <div class="card-body">
                  <!-- Reviews Details -->
                  <i class="iconoir-bubble-star iconoir-lg text-primary"></i>
                    <figure class="mt-3">
                        <blockquote class="blockquote">
                        <p>متجر جميل، متنوع وتوصيل سريع جدا</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mt-2">
                        12 نوفمبر 2022
                        </figcaption>
                    </figure>
                </div>
              </div>
            </div>
      
            <?php } ?>

        </div> 
        <!-- End of Reviews Inner -->

        <!-- Link to See All -->
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-outline-primary" title=""> 
                <span class="px-2"><i data-feather="refresh-ccw" class="feather-xs"></i></span> تحميل المزيد
             </a>
        </div>

    </div>
</section>
<!-- End of Reviews -->