<section class="p-5" role="snap" hidden>
    <div class="container">
        <div class="snap">
            <div class="snap-wrapper">
                <?php for($i = 1; $i < 11; $i++)  { ?>
                    <div class="card border-0 m-4 grow">
                        <a href="#" title="" class="link-dark text-decoration-none">
                          <!-- Product Image -->
                          <img src="media/partners/img-<?php echo $i ?>.svg" class="img-fluid" alt="">
                        </a>
                      </div>
                <?php } ?>
            </div>
        </div>
    </div>
</section>

<section class="p-5" role="scrolling">
    <div id="scrolling">
        <div class="item-scrolling">
            <?php for($i = 1; $i < 11; $i++)  { ?>
                    <img src="media/partners/img-<?php echo $i ?>.svg" style="width:200px" alt="">
            <?php } ?>
        </div>
    </div>
</section>