<!-- Top Navigation -->
<nav class="navbar navbar-expand-lg py-3" role="top-navigation">
  <div class="container-fluid">
    
     <!-- Logo -->
    <a class="navbar-brand ps-3" href="#" title="المتجر الإفتراضي">
        <img src="assets/img/store-logo.png" alt="المتجر الإفتراضي" style="width:80px">
    </a>

    <!-- Toggle for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-2">

        <li class="nav-item dropdown ps-2">
          <a class="nav-link @dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="الشحن">
            <i data-feather="package"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-en shadow-lg border-0 rounded-0">
            <li><a class="dropdown-item py-2" href="#" title="">المملكة العربية السعودية</a></li>
            <li><a class="dropdown-item py-2" href="#" title="">سلطة عمان</a></li>
            <li><a class="dropdown-item py-2" href="#" title="">الإمارات العربية المتحدة</a></li>
          </ul>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" title="دخول" href="#">
            <i data-feather="user"></i>
          </a>
        </li>

        <!-- Anchor to open the OffCanvas -->
        <li class="nav-item pe-2">
          <a class="nav-link position-relative" title="السلة" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart" href="#">
            <i data-feather="shopping-cart"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
               6 <span class="visually-hidden">6 منتجات</span>
            </span>
          </a>
        </li>

      </ul>

      <!-- Search Form -->
      <form class="d-flex ms-3" role="search">
        <input class="form-control ms-2 rounded-0 border-end-0" type="search" placeholder="البحث في المتجر" aria-label="Search">
        <button class="btn btn-dark rounded-0 border" type="submit">
          <i data-feather="search"></i>
        </button>
      </form>
       <!-- End of Search Form -->

    </div>
  </div>
</nav>
<!-- End of Top Navigation -->

<!-- Wrap or include the OffCanvas Cart -->
<?php include_once 'cart.html' ?>