<!-- Navbar -->
<nav class="navbar navbar-expand-lg py-2 navbar-sticky" role="navbar" id="navbar">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand ps-0 order-1 order-lg-0" href="./" title="المتجر الإفتراضي">
      <img
        src="https://media.zid.store/cdn-cgi/image/h=220,q=100,f=auto/https://media.zid.store/cada0eba-1b92-45dd-92d2-486b3ba9674c/54d3472f-9540-4379-b96c-83f5e46237b5-200x.png"
        alt="" style="width:50px">
      <!-- Store Title -->
      <!-- <span class="text-dark px-2 small">متجر افتراضي</span> -->

    </a> <!-- #Logo -->

    <!-- Open Menu in Mobile -->
    <a class="d-block d-lg-none nav-link link-dark position-relative order-0" title="قائمة التصفح"
      data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" href="#offcanvasMenu">
      <i class="iconoir-menu iconoir-md"></i>
    </a> <!-- #Open Menu in Mobile -->

    <!-- Open Cart in Mobile -->
    <a class="me-4 d-block d-lg-none nav-link link-dark position-relative order-2" title="سلة التسوق"
      data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart" href="#offcanvasCart">
      <i class="iconoir-cart iconoir-md"></i>
      <span class="position-absolute top-0 start-100 translate-middle-y badge rounded-pill bg-primary">
        6 <span class="visually-hidden">6 منتجات</span>
      </span>
    </a> <!-- #Open Cart in Mobile -->


    <!-- Menu Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Search Form -->
      <form class="d-flex mx-auto w-50 border rounded" role="search">
        <input class="form-control form-control-no-focus ms-0 rounded-0 rounded-start border-0" type="search"
          placeholder="ابحث في المتجر" aria-label="Search">
        <button class="btn btn-primary border-0 rounded-0 rounded-end" type="submit">
          <i class="iconoir-search fs-5"></i>
        </button>
      </form>
      <!-- #Search Form -->

      <ul class="navbar-nav mb-2 mb-lg-0 me-0">

        <!-- Login link -->
        <li class="nav-item px-1">
          <a class="nav-link link-dark" href="#">
            <i class="iconoir-log-in iconoir-md" data-bs-placement="bottom" data-bs-html="true" data-bs-toggle="tooltip"
              data-bs-title="<small>تسجيل دخول</small>"></i> <span class="px-1 visually-hidden">تسجيل دخول</span>
          </a>
        </li> <!-- #Login link -->

        <!-- My Account link -->
        <!-- <li class="nav-item px-1">
          <a class="nav-link link-dark" href="#">
            <i class="iconoir-user-circle-alt iconoir-md" data-bs-placement="bottom" data-bs-html="true"
              data-bs-toggle="tooltip" data-bs-title="<small>حسابي</small>"></i> <span
              class="px-1 visually-hidden">حسابي</span>
          </a>
        </li> -->
        <!--# My Account link -->

        <!-- Shipping & Language link -->
        <li class="nav-item px-1">
          <a class="nav-link link-dark position-relative" title="دولة الشحن" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasCountries" aria-controls="offcanvasCountries" href="#">
            <i class="iconoir-language iconoir-md" data-bs-placement="bottom" data-bs-html="true"
              data-bs-toggle="tooltip" data-bs-title="<small>اللغة والشحن</small>"></i>
          </a>
        </li> <!-- #Shipping & Language link -->

        <!-- to add a Separator -->
        <!-- <li class="vr mx-2"></li> -->

        <!-- Cart link -->
        <li class="nav-item ps-1">
          <a class="nav-link link-dark" title="سلة التسوق" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
            aria-controls="offcanvasCart" href="#">
            <i class="iconoir-cart iconoir-md position-relative" data-bs-placement="bottom" data-bs-html="true"
              data-bs-toggle="tooltip" data-bs-title="<small>سلة المشتريات</small>">
              <span class="position-absolute top-0 start-100 translate-middle-y">
                <!-- 6 <span class="visually-hidden">6 منتجات</span> -->
                <svg class="rounded-pill me-1 text-primary @pulse-grouped" width="8" height="8"
                  xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
                  focusable="false">
                  <rect width="100%" height="100%" fill="currentColor"></rect>
                </svg>
              </span>
            </i>
          </a>
        </li> <!-- #Cart link -->
      </ul>
    </div> <!-- #Menu Links -->
  </div>
</nav>
<!-- #Navbar -->