<!-- Main Navigation -->
<section class="bg-secondary text-primary bg-opacity-10 @shadow-sm py-1 d-none d-lg-block" role="navigation">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- Navigation Items -->
    <ul class="nav flex-grow-1">

      <!-- Nav Link -->
      <li class="nav-item">
        <a class="nav-link link-secondary active ps-0" aria-current="page" href="#" title="">
          <!-- an icon can be added too -->
          <!-- <i class="iconoir-home-alt iconoir-sm"></i>  -->
          <!-- <span class="px-1">الرئيسية</span> -->
          الرئيسية
        </a>
      </li> <!-- #Nav Link -->

      <li class="nav-item">
        <a class="nav-link link-secondary" href="#" title="">
          المنتجات
        </a>
      </li>

      <!-- Nav Link with Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link link-secondary @dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false" title="">
          النساء <i data-feather="chevron-down" class="feather-xs"></i>
        </a>
        <ul class="dropdown-menu shadow-lg border-0 rounded-0">
          <li><a class="dropdown-item py-2" href="#" title="">جاكيط ومعاطف نسائي</a></li>

          <!-- Second Dropdown -->
          <li><a class="dropdown-item py-2 d-flex justify-content-between" href="#" title="">
              بلايز نسائي
              <i class="iconoir-nav-arrow-left iconoir-xs"></i>
            </a>
            <ul class="submenu dropdown-menu shadow-lg border-0 rounded-0 animate slideIn">
              <li><a class="dropdown-item py-2" href="#">عباءات صيفية</a></li>
              <li><a class="dropdown-item py-2" href="#">جلالب شتوية</a></li>

              <!-- Third Dropdown -->
              <li>
                <a class="dropdown-item py-2 d-flex justify-content-between" href="#">
                  صايات للبنات
                  <i class="iconoir-nav-arrow-left iconoir-xs"></i>
                </a>

                <ul class="submenu dropdown-menu shadow-lg border-0 rounded-0 animate slideIn">
                  <li><a class="dropdown-item py-2" href="#">ملابس مدرسية</a></li>
                  <li><a class="dropdown-item py-2" href="#">ملابس متفرقة</a></li>
                </ul>
              </li> <!-- Third Dropdown -->

              <li><a class="dropdown-item py-2" href="#">صبايا الخريف</a></li>
              <li><a class="dropdown-item py-2" href="#">مجموعة الربيع</a></li>
            </ul>

          </li> <!-- Second Dropdown -->
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item py-2" href="#" title="">تصفح الكل </a>
          </li>
        </ul>
      </li> <!-- #Nav Link with Dropdown -->

      <!-- Nav Link with Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link link-secondary @dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false" title="">
          الرجال <i data-feather="chevron-down" class="feather-xs"></i>
        </a>
        <ul class="dropdown-menu shadow-lg border-0 rounded-0">
          <li><a class="dropdown-item py-2" href="#" title="">جاكيت ومعاطف رجالي</a></li>
          <li><a class="dropdown-item py-2" href="#" title="">قمصان رجالي</a></li>
          <li><a class="dropdown-item py-2" href="#" title="">بناطيل رجالي</a></li>
          <li><a class="dropdown-item py-2" href="#" title="">كنزات رجالي</a></li>
          <li><a class="dropdown-item py-2" href="#" title="">سويت شريت رجالي</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item py-2" href="#" title="">تصفح الكل</a></li>
        </ul>
      </li> <!-- #Nav Link with Dropdown -->

      <!-- Nav Links  -->
      <li class="nav-item">
        <a class="nav-link link-secondary" href="#" title="">أحذية للجنسين</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary" href="#" title="">أحذية للنساء</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary" href="#" title="">شنط نسائي</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-secondary" href="#" title="">
          <!-- can add an icon here -->
          <!-- <span class="px-1"><i data-feather="grid" class="feather-xs"></i></span> -->
          جميع التصنيفات
        </a>
      </li> <!-- #Nav Links  -->
    </ul>

    <!-- Shipping Link -->
    <a href="#" class="link-secondary" title="">
      <span class="px-1">خيارات الدفع والتوصيل</span>
      <!-- <i class="iconoir-arrow-left fs-5"></i> -->
    </a>
    <!--# Shipping Link -->

  </div>
</section>
<!-- #Main Navigation -->