<!-- Demos Purpose Only -->
<div class="btn-group dropup position-fixed" style="z-index: 9999 !important">
    <button type="button"
        class="btn btn-primary @dropdown-toggle mb-3 ms-3 position-fixed bottom-0 start-0 rounded-pill"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="iconoir-menu"></i>
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="index.php">
                <i class="iconoir-home"></i> الرئيسية</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="?page=categories">التصانيف</a></li>
        <li><a class="dropdown-item" href="?page=category"> صفحة تصنيف</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="?page=products">المنتجات</a></li>
        <li><a class="dropdown-item disabled" href="?page=product-1">صفحة منتج ١</a></li>
        <li><a class="dropdown-item disabled" href="?page=product-2">صفحة منتج ٢</a></li>
        <li><a class="dropdown-item disabled" href="?page=product-3">صفحة منتج ٣</a></li>
        <li><a class="dropdown-item disabled" href="?page=product-4">صفحة منتج ٤</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="?page=shipping">خيارات الدفع والتوصيل</a></li>
        <li><a class="dropdown-item" href="?page=faqs">الأسئلة الشائعة</a></li>
        <li><a class="dropdown-item" href="?page=page-sample">صفحة عامة</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item disabled" href="?page=account">حسابي</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="?page=cart-view">سلة المشتريات</a></li>
        <li><a class="dropdown-item" href="?page=cart-empty">السلة فارغة</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="?page=404">صفحة 404</a></li>
        <li><a class="dropdown-item" href="?page=search-results">نتائج البحث</a></li>
        <li><a class="dropdown-item" href="?page=search-no-results">صفحة لا يوجد نتائج</a></li>

    </ul>
</div>

<!-- Bootstrap Bundle & Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>

<!-- jQuery Dependecies -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- JS Plugins -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<!-- App & Rest of JS Files -->
<script src="assets/js/app.js"></script>
<script src="assets/js/swipers.js"></script>
<!-- <script src="assets/js/nouislider.js"></script> -->


</body>

</html>