<!-- Demos Purpose Only -->
<!-- To be removed in Production -->
<div class="btn-group dropup position-fixed z-index-higher">
    <button type="button"
        class="btn btn-sm btn-dark rounded-0 @dropdown-toggle mb-3 ms-3 position-fixed bottom-0 start-0"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="iconoir-menu"></i>
    </button>
    <ul class="dropdown-menu">

        <li>
            <a class="dropdown-item" href="index.php">
                الرئيسية
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="?page=categories">التصانيف</a></li>
        <li><a class="dropdown-item" href="?page=category"> صفحة تصنيف</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="?page=products">المنتجات</a></li>
        <li><a class="dropdown-item" href="?page=product">صفحة منتج</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="?page=cart-view">سلة المشتريات</a></li>
        <li><a class="dropdown-item" href="?page=cart-empty">السلة فارغة</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="?page=404">صفحة 404</a></li>
        <li><a class="dropdown-item" href="?page=search-results">نتائج البحث</a></li>
        <li><a class="dropdown-item" href="?page=search-no-results">صفحة لا يوجد نتائج</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="?page=shipping">خيارات الدفع والتوصيل</a></li>
        <li><a class="dropdown-item" href="?page=faqs">الأسئلة الشائعة</a></li>
        <li><a class="dropdown-item" href="?page=page-sample">صفحة عامة</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="?page=account">حسابي</a></li>
    </ul>
</div><!-- Demos Purpose Only -->

<!-- Bootstrap Bundle & Popper -->
<script src="assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<!-- jQuery -->
<script src="assets/vendor/jquery/jquery-3.6.1.min.js"></script>

<!-- JS Vendors -->
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/progressbar/progressbar.min.js"></script>
<script src="assets/vendor/lottie-player/lottie-player.js"></script>
<script src="assets/vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script src="assets/vendor/bootstrap-select/defaults-ar_AR.js"></script>
<script src="assets/vendor/ion-range-slider/ion.rangeSlider.min.js"></script>
<script src="assets/vendor/rater-js/rater.js"></script>
<script src="assets/vendor/clipboard/clipboard.min.js"></script>
<script src="assets/vendor/smooth-scroll/smooth-scroll.min.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider-rtl.js"></script>
<!-- <script src="assets/vendor/tiny-slider/tiny-slider.js"></script> -->
<script src="assets/vendor/glightbox/glightbox.min.js"></script>


<!-- App & Rest of JS Files -->
<!-- To Bundle all files into one file, use the following command: see readme.md -->
<script src="assets/js/app.js"></script>
<script src="assets/js/swipers.js"></script>
<script src="assets/js/ion.rangeSlider-custom.js"></script>
<script src="assets/js/cookies.js"></script>
<script src="assets/js/tiny-slider-custom.js"></script>

<!-- DEV Purpose -->
<script src="assets/js/change-theme-font-dev.js"></script>

</body>

</html>