<!-- Header -->
<header role="header">

    <?php #require_once(dirname(__FILE__) . '/../components/progressbar.html'); ?>
    <?php require_once(dirname(__FILE__) . '/../components/cookies.html'); ?>
    <?php require_once(dirname(__FILE__) . '/../components/menu/navbar.html'); ?>
    <?php require_once(dirname(__FILE__) . '/../components/menu/navigation.html'); ?>
    <?php require_once(dirname(__FILE__) . '/../offcanvas/cart.html'); ?>
    <?php require_once(dirname(__FILE__) . '/../offcanvas/menu.html'); ?>
    <?php require_once(dirname(__FILE__) . '/../offcanvas/countries.html'); ?>
</header><!-- #Header -->