<!-- Alert -->
<div class="alert bg-primary text-white alert-dismissible fade show rounded-0 border-0 mb-0 text-center pb-3 py-md-1"
  role="alert">
  <div
    class="container d-flex flex-column-reverse flex-md-row justify-content-evenly justify-content-md-between align-items-center g-0">

    <!-- alert message -->
    <div class="text-center flex-grow-1 mt-3 mt-sm-0 small">
      <!-- <i class="iconoir-bell-notification px-2"></i>  -->
      خصم محدود موسم العودة للمدارس, استخدم كوبون الخصم مدارس
    </div>

    <!-- close icon -->
    <button type="button" class="btn-none btn-close-rotate p-0 text-white" data-bs-dismiss="alert" aria-label="Close">
      <i class="iconoir-cancel iconoir-md"></i>
    </button>
  </div>
</div>
<!-- #Alert -->