<!-- Cookies -->
<div id="cookies"
    class="animate slideIn shadow-lg z-index-higher fixed-bottom bg-white alert alert-dismissible rounded-0 border-0 mb-0 text-center py-2"
    role="alert">
    <div
        class="container d-flex flex-column-reverse flex-md-row justify-content-evenly justify-content-md-between align-items-center g-0">
        <div class="text-center flex-grow-1">
            <span class="px-1">
                <i class="iconoir-half-cookie fs-6"></i>
            </span>
            بتصفحك لهذا المتجر، فأنت توافق على
            <a href="#" target="_blank">سياسية الخصوصية</a>
        </div>
        <button type="button" class="btn btn-link link-secondary text-decoration-none" onclick="window.setGetCookies()">
            <i class="iconoir-check fs-5"></i>
            <span class="px-1">أوافق</span>
        </button>
    </div>
</div>
<!-- #Cookies-->