<!-- Toast -->

<a href="#" class="btn btn-secondary" id="toastClickbtn">
    <i class="iconoir-message-alert"></i>
    <span class="px-1">إظهار رسالة الخطأ </span>
</a>


<div aria-live="polite" aria-atomic="true" class="bg-dark position-relative">
    <div class="toast-container p-3 top-50 start-0 translate-middle-y">

        <div class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    عذرا، يتوجب عليك تسجيل الدخول لإضافة المنتج إلى السلة
                </div>
                <button type="button" class="btn-close btn-close-rotate me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<!-- End Of Toast -->