<!-- trigger toast -->
{# toast button #}
<button type="button" class="btn btn-primary" id="liveToastBtn">
    <i class="iconoir-message-text fs-6"></i>
    <span class="px-1">إظهار رسالة تنبيه أو خطأ</span>
</button>

{# toast content #}
<div class="toast-container position-fixed bottom-0 start-0 translate-middle-y p-3 z-index-higher">
    <div id="liveToast" class="toast bg-white shadow-lg border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-primary text-white">
            <i class="iconoir-app-notification"></i>
            <strong class="me-auto ms-2">رسالة تنبيهية</strong>
            <small class="text-muted"></small>
            <button type="button" class="btn-close btn-close-white me-0 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
        <div class="toast-body">
            المرجو تحديد الخيارات أولا
        </div>
    </div>
</div> <!-- #trigger toast -->